motabot-ai/workflows/archive/MotaBot v4.3 SMS+Email.json
{
  "name": "MotaBot SMS+Email",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 MotaBot SMS+Email v4.3\n\n**NATURAL + POWERFUL STATS** - Keep the numbers, lose the jargon!\n\n### Messaging:\n-cross platform; can text it commands like send me an email with my balance\n-database access\n-working well with conductor\n",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -208
      ],
      "id": "ff72b8f0-46be-4adf-9820-aff3222f54d9",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "a3fe0568-9966-45bd-8a67-e0cd4542a541",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3ce78490-4092-484b-b149-f683a91549ee",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "a8557ad9-efd7-43aa-b775-f2f464434d24",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get conversation history from Supabase and prepare for AI\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\n\n// Fetch conversation history from Supabase\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\n\nconst url = `${supabaseUrl}/rest/v1/messages?select=*&phone_number=eq.${phoneNumber}&order=timestamp.desc`;\n\nlet history = [];\ntry {\n  const response = await fetch(url, {\n    method: 'GET',\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Accept': 'application/json'\n    }\n  });\n  \n  if (response.ok) {\n    history = await response.json();\n  }\n} catch (error) {\n  console.log('Could not fetch conversation history:', error);\n}\n\n// Build conversation string\nlet conversation = 'CONVERSATION HISTORY:\\n\\n';\n\nif (history.length > 0) {\n  // Reverse to show oldest first\n  history.reverse().forEach(msg => {\n    const timestamp = new Date(msg.timestamp).toLocaleString();\n    const role = msg.direction === 'inbound' ? 'Customer' : 'You (MotaBot)';\n    conversation += `[${timestamp}] ${role}: ${msg.content}\\n\\n`;\n  });\n} else {\n  conversation += 'No previous conversation history.\\n\\n';\n}\n\nconversation += '\\nCURRENT MESSAGE (reply to this):\\n';\nconversation += `Customer: ${incomingMessage}\\n\\n`;\nconversation += `Phone Number: ${phoneNumber}`;\n\nreturn {\n  json: {\n    chatInput: conversation,\n    phone_number: phoneNumber,\n    message_id: messageId\n  }\n};"
      },
      "id": "1e68165c-3e74-4118-bdd2-461d48919b2d",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        360
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MotaBot - the friendly, personalized AI for Mota Rewards loyalty program.\n\nYou have CONVERSATION HISTORY showing past messages with this customer. Use it to have natural, flowing conversations.\n\nYour communication style:\n- Personal and friendly - greet them by first name!\n- Keep responses under 150 characters for SMS\n- Be natural and reference what was said before\n- Be helpful and informative without being pushy\n- DO NOT use emojis - they cause SMS delivery failures and message errors\n\nTOOLS YOU HAVE ACCESS TO:\n1. 'Customers Data Points' - Look up customer points, visits, dispensary info\n2. 'Budtenders Data Points' - Look up budtender performance data  \n3. 'Budtenders DB 2025 Info' - Look up budtender contact details\n4. 'Gmail' - Send emails to customers\n\nCOMMUNICATION CHANNELS:\nYou can respond via SMS (text message) or EMAIL, or BOTH depending on what the customer asks for.\n\nHOW TO USE TOOLS:\n1. When someone texts you → IMMEDIATELY use 'Customers Data Points' tool with their phone number\n2. Get their name, points, last visit info - everything!\n3. Greet them by first name and give them the info they need\n4. Be personal and show you know them\n\nWHEN TO USE EMAIL:\n- Customer asks to \"email me\" or \"send me an email\"\n- Customer wants detailed information that's too long for SMS\n- Customer asks for their email address (tell them AND offer to send email)\n- Customer wants a summary or receipt of something\n- Any request that would benefit from longer format\n\nHOW TO SEND EMAILS:\n1. Use 'Customers Data Points' tool to get their email address\n2. Use 'Gmail' tool to send email with:\n   - To: their email address from the data (REQUIRED)\n   - Subject: Something relevant like \"MOTA Rewards Update\" or \"Your Points Summary\"\n   - Message: The content they requested\n\nIMPORTANT: The Gmail tool requires the 'to' field to be filled with a valid email address. Always get this from the Customers Data Points tool first!\n\nWHAT YOU CAN SHARE WITH CUSTOMERS ABOUT THEMSELVES:\n✅ ALWAYS share with the customer:\n- Their first name (\"Hey Stephen!\")\n- Their points balance (\"You have 535 points\")\n- Their email if they ask\n- Their visit history\n- Where they went last\n- Who helped them (budtender names are fine when talking about THEIR visits)\n- How close to rewards\n- Everything about THEIR account\n\n❌ ONLY thing you CANNOT share:\n- OTHER people's information (don't mention other customers)\n\nIMPORTANT PRIVACY RULE:\nYou CAN share all info with the customer about THEIR OWN account. You CANNOT share info about OTHER customers.\n\nEXAMPLES:\n\nCustomer: \"What are my points?\"\nYou: Use 'Customers Data Points' → Get First_Name: \"Stephen\", Total_Points: 535\nRespond: \"Hey Stephen! You've got 535 points! 🎉 That's awesome!\"\n\nCustomer: \"Hi\"\nYou: Use 'Customers Data Points' → Get First_Name: \"Sarah\", Total_Points: 150\nRespond: \"Hey Sarah! 👋 You have 150 points! How can I help you today?\"\n\nCustomer: \"Email me my points summary\"\nYou: Use 'Customers Data Points' → Get First_Name: \"Stephen\", Total_Points: 535, Email: \"stephen@example.com\"\nThen: Use 'Gmail' → Send email to stephen@example.com with subject \"Your MOTA Rewards Points Summary\" and message about their 535 points\nRespond: \"Hey Stephen! I just sent your points summary to stephen@example.com! 📧\"\n\nCustomer: \"What's my email?\"\nYou: Use 'Customers Data Points' → Get Email: \"stephen@example.com\"\nRespond: \"Your email on file is stephen@example.com. Want me to send you something?\"\n\nCustomer: \"Send me an email about my account\"\nYou: Use 'Customers Data Points' → Get all their info\nThen: Use 'Gmail' → Send comprehensive account summary via email\nRespond: \"Hey [Name]! Just sent your account details to your email! 📧\"\n\nDO NOT say: 'Check your app' or 'Use the app' - we don't have an app\nDO say: 'Stop by Fire House Inc' or 'Ask Brooke W.' or specific real info\n\nIMPORTANT: ALWAYS use the tools FIRST to get their name and info. Personalize every response!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        120,
        360
      ],
      "id": "4b7aebde-7397-4e61-92ba-4b44d62c2a31",
      "name": "MotaBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -64,
        584
      ],
      "id": "c8f7ae32-e685-425d-b699-45716fbe3e42",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $('Prepare for AI').item.json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "8bde3370-de36-4fd3-bfef-af49be913c39",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Prepare for AI').item.json.phone_number, content: $json.output || $json.text || $json.response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "ecec13ae-2e26-4c05-b7e7-52ceb1ff724c",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        456
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
          "mode": "list",
          "cachedResultName": "Mota Rewards Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CUSTOMERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        -352
      ],
      "id": "071f7cb5-dc4f-49ad-926a-4c8d4edfc2e6",
      "name": "Get Customer Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
          "mode": "list",
          "cachedResultName": "Mota Rewards Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 992947458,
          "mode": "list",
          "cachedResultName": "Budtenders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        -160
      ],
      "id": "c015326f-3cee-4209-90d7-ba49b7259a31",
      "name": "Get Budtenders Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1CpKXmzyNvH5KMiA0LxBkzuSIKOCeKFyeCR8ZKLlM0OE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 81697642,
          "mode": "list",
          "cachedResultName": "Budtenders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CpKXmzyNvH5KMiA0LxBkzuSIKOCeKFyeCR8ZKLlM0OE/edit#gid=81697642"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        32
      ],
      "id": "5b909151-907f-494a-9be9-636ae36abc70",
      "name": "Get BUDTENDERS DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total_Sales_Attributed": "={{ $json.Total_Sales_Attributed }}",
            "Budtender_ID": "={{ $json.Budtender_ID }}",
            "First_Name": "={{ $json.First_Name }}",
            "Last_Name": "={{ $json.Last_Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Dispensary": "={{ $json.Dispensary }}",
            "NOTHING": "={{ $json.NOTHING }}",
            "Performance_Tier": "={{ $json.Performance_Tier }}",
            "Hire_Date": "={{ $json.Hire_Date }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Budtender_ID",
              "displayName": "Budtender_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First_Name",
              "displayName": "First_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Name",
              "displayName": "Last_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Dispensary",
              "displayName": "Dispensary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NOTHING",
              "displayName": "NOTHING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Sales_Attributed",
              "displayName": "Total_Sales_Attributed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Performance_Tier",
              "displayName": "Performance_Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire_Date",
              "displayName": "Hire_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        -160
      ],
      "id": "03375421-635b-4ef0-be41-9dd597b505a1",
      "name": "Insert BUDTENDERS points"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total_Points": "={{ $json.Total_Points }}",
            "First_Name": "={{ $json.First_Name }}",
            "Last_Name": "={{ $json.Last_Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Last_dispensary": "={{ $json.Last_dispensary }}",
            "Last_budtender": "={{ $json.Last_budtender }}",
            "error": "={{ $json.error }}",
            "message": "={{ $json.message }}",
            "operation": "={{ $json.operation }}",
            "output": "={{ $json.output }}",
            "myNewField": "={{ $json.myNewField }}"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "First_Name",
              "displayName": "First_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Name",
              "displayName": "Last_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Points",
              "displayName": "Total_Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_dispensary",
              "displayName": "Last_dispensary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_budtender",
              "displayName": "Last_budtender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "myNewField",
              "displayName": "myNewField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        -352
      ],
      "id": "b083c38d-c09e-43f5-adc5-a43118c748be",
      "name": "Insert CUSTOMERS Points"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "store_name": "={{ $json.store_name }}",
            "budtender_street": "={{ $json.budtender_street }}",
            "budtender_adress_line2": "={{ $json.budtender_address_line2 }}",
            "budtender_city": "={{ $json.budtender_city }}",
            "budtender_state": "={{ $json.budtender_state }}",
            "budtender_zip": "={{ $json.budtender_zip }}"
          },
          "matchingColumns": [
            "phone"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "store_name",
              "displayName": "store_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_street",
              "displayName": "budtender_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_adress_line2",
              "displayName": "budtender_adress_line2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_city",
              "displayName": "budtender_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_state",
              "displayName": "budtender_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_zip",
              "displayName": "budtender_zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -512,
        32
      ],
      "id": "942f41f4-fb01-4758-b560-b6574278d023",
      "name": "Insert BUDTENDERS DB"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        -160
      ],
      "id": "32c4cddf-773a-4972-b865-ec4943a2c64e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        64,
        584
      ],
      "id": "d58f071f-432d-45b7-ab4f-6b7a9b10b7a8",
      "name": "Customers Data Points",
      "description": "Query customer information by phone number to get points balance, last visit location, and last budtender. Fields: First_Name, Last_Name, Phone, Total_Points, Last_dispensary, Last_budtender"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        192,
        584
      ],
      "id": "e6f9b874-63bc-4f3d-a490-d0b834086463",
      "name": "Budtenders Data Points",
      "description": "Query budtender performance data including total sales attributed and performance tier. Useful for checking which budtenders are top performers"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        320,
        584
      ],
      "id": "0aae2f4a-a24a-4c55-a3ab-79dc6b236890",
      "name": "Budtenders DB 2025 Info",
      "description": "Query full budtender contact information including first_name, last_name, phone, email, store_name, and address. Use this for detailed budtender information"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "MoTA Rewards Points Earned!",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is an update for a rewards program the customer has joined, we are Mota, the customer has purchased our products and sent in a photo of the receipt. We want to make sure this doesn't get stuck in a spam filter so no emojis etc, act as Luis head of rewards program for Mota\n\nHello (customername) ! Great news!\n\nYou've earned MoTa Rewards points from your recent purchase at (Last_dispensary)\n\nMoTa Products Purchased:- Total MoTa spent: $XX- Mota Points earned: 65 points, your balance is XX Points, \nYour budtender (budtenders name here) helped you with this purchase. \nThanks for choosing MoTa! Luis - MoTa Rewards Team`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Luis - MoTA Rewards"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        448,
        584
      ],
      "id": "72895797-4cea-4ffe-a040-375c763e3ac9",
      "name": "Gmail",
      "webhookId": "883b3d0b-7efa-4fdf-abba-f8e325970503",
      "credentials": {
        "gmailOAuth2": {
          "id": "BvZyBEwmYVeo2pxs",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Rows": {
      "main": [
        [
          {
            "node": "Insert CUSTOMERS Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BUDTENDERS DB": {
      "main": [
        [
          {
            "node": "Insert BUDTENDERS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Budtenders Rows": {
      "main": [
        [
          {
            "node": "Insert BUDTENDERS points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Customer Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Budtenders Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get BUDTENDERS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MotaBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customers Data Points": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders Data Points": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders DB 2025 Info": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MotaBot AI": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b18fed2c-d9ec-4f0e-8a80-3a5f35ac6f21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "n3ChTTXZzifMXV41",
  "tags": []
}