motabot-ai/workflows/Mota systems/tools sheet/rexfortools.json
{
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are **Rex**, the MoTA-brand loyalty agent.\n\nYou receive one JSON object per execution (it follows after this text).\n\n{{ JSON.stringify($json, null, 2) }}\n\n──────────────────────\n📋 Tasks\n──────────────────────\n1. Parse the JSON.  \n2. Extract every MoTA product -> productName, price, quantity. Ignore non-MoTA items.  \n3. totalMotaSpend  = Σ price (MoTA only).  \n4. pointsEarned    = totalMotaSpend × 1.\n\n──────────────────────\n🔧 Google-Sheets tools you can call\n──────────────────────\n• **Search Customer**             (required field → Email)  (Make sure your not case sensitive with the email adress so that way we don't create 2 different customers just because of a wrong case sensitive letter)\n• **Update Customer Points**      (id, firstName, lastName, email, phone, totalPoints)  \n• **Create New Customer**         (firstName, lastName, email, phone, totalPoints, last_dispensary)  \n\n• **Search Budtender**            (required field → First_Name)  \n• **Update Budtender Sales**      (id, total_sales_attributed)  \n• **Create New Budtender**        (firstName, lastName = \"Unknown\", dispensary, total_sales_attributed)  \n\n• **Gmail**                       (send confirmation to customer)\n\n──────────────────────\n🧭 Flow\n──────────────────────\nA. **Customer**  \n   1. Search Customer by email.  \n   2. If found → Update Customer Points (add pointsEarned to existing).  \n   3. Else → Create New Customer with initial pointsEarned and last_dispensary = latest dispensary in receiptSummary.  \n\nB. **Budtender**  \n   1. Search Budtender by First_Name.  \n   2. If found → Update Budtender Sales (add totalMotaSpend).  \n   3. Else → Create New Budtender with total_sales_attributed = totalMotaSpend.  \n\nC. **Gmail** → send confirmation e-mail summarising MoTA spend & new points balance.  \n\nWhen every tool succeeds, reply with the single word **DONE** (no other text).\n\nDo **not** print chain-of-thought or explanations.\n",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          -16,
          144
        ],
        "id": "edd9c7a9-2b29-49b2-8c1d-cf0cd553daad",
        "name": "Rex AI Agent"
      },
      {
        "parameters": {
          "model": "anthropic/claude-3.5-haiku",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -416,
          368
        ],
        "id": "a06b283a-f9c1-4e99-8cd0-830f7e280cff",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "daclOezIY0qSdW4Z",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
          "subject": "MoTA Rewards Points Earned!",
          "emailType": "text",
          "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is an update for a rewards program the customer has joined, we are Mota, the customer has purchased our products and sent in a photo of the receipt. We want to make sure this doesn't get stuck in a spam filter so no emojis etc, act as Luis head of rewards program for Mota\n\nHello (customername) ! Great news!\n\nYou've earned MoTa Rewards points from your recent purchase at (Last_dispensary)\n\nMoTa Products Purchased:- Total MoTa spent: $XX- Mota Points earned: 65 points, your balance is XX Points, \nYour budtender (budtenders name here) helped you with this purchase. \nThanks for choosing MoTa! Luis - MoTa Rewards Team`, 'string') }}",
          "options": {
            "appendAttribution": false,
            "senderName": "Luis - MoTA Rewards"
          }
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          -176,
          368
        ],
        "id": "4e0a44ae-dad2-4d89-9ed8-49f90384e986",
        "name": "Gmail",
        "webhookId": "883b3d0b-7efa-4fdf-abba-f8e325970503",
        "credentials": {
          "gmailOAuth2": {
            "id": "BvZyBEwmYVeo2pxs",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Search for existing customer by email in CUSTOMERS sheet. Use this FIRST to check if customer exists before creating or updating.",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "CUSTOMERS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Email",
                "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          -64,
          368
        ],
        "id": "22116eab-b50a-4cd9-aa52-9eaf10e90d51",
        "name": "Search Customer",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Update existing customer's points by finding them by email and updating their Total_Points with the new cumulative total.",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "CUSTOMERS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name__using_to_match_', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Total_Points": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Points', ``, 'string') }}",
              "Last_dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_dispensary', ``, 'string') }}",
              "Last_budtender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_budtender', ``, 'string') }}"
            },
            "matchingColumns": [
              "First_Name"
            ],
            "schema": [
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Points",
                "displayName": "Total_Points",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_dispensary",
                "displayName": "Last_dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_budtender",
                "displayName": "Last_budtender",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error",
                "displayName": "error",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "operation",
                "displayName": "operation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "myNewField",
                "displayName": "myNewField",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          80,
          368
        ],
        "id": "81d26bf6-51a8-4087-b7fb-486501f0b54f",
        "name": "Update Customer Points",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Create new customer in CUSTOMERS sheet. Use this ONLY when Search Customer tool finds no existing customer.",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "CUSTOMERS",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Total_Points": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Points', ``, 'string') }}",
              "Last_dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_dispensary', ``, 'string') }}",
              "Last_budtender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_budtender', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Points",
                "displayName": "Total_Points",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_dispensary",
                "displayName": "Last_dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_budtender",
                "displayName": "Last_budtender",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "error",
                "displayName": "error",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "operation",
                "displayName": "operation",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "output",
                "displayName": "output",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "myNewField",
                "displayName": "myNewField",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          208,
          368
        ],
        "id": "9c359fa4-f830-4931-8d7c-f103f68f38c4",
        "name": "Create New Customer",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Search for budtender in Budtenders sheet by first name and dispensary. Use this to verify budtender exists before updating sales attribution.",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 992947458,
            "mode": "list",
            "cachedResultName": "Budtenders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "First_Name",
                "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
              },
              {
                "lookupColumn": "Dispensary",
                "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          320,
          368
        ],
        "id": "f1e91407-c964-4001-90e7-3fa1e5f1d53a",
        "name": "Search Budtender",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Update budtender's Total_Sales_Attributed by finding them by first name and dispensary, then updating with new cumulative total.",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 992947458,
            "mode": "list",
            "cachedResultName": "Budtenders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Budtender_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budtender_ID', ``, 'string') }}",
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name__using_to_match_', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Dispensary', ``, 'string') }}",
              "Total_Sales_Attributed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Sales_Attributed', ``, 'string') }}",
              "Performance_Tier": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Performance_Tier', ``, 'string') }}",
              "Hire_Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hire_Date', ``, 'string') }}"
            },
            "matchingColumns": [
              "First_Name"
            ],
            "schema": [
              {
                "id": "Budtender_ID",
                "displayName": "Budtender_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Dispensary",
                "displayName": "Dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Sales_Attributed",
                "displayName": "Total_Sales_Attributed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Performance_Tier",
                "displayName": "Performance_Tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Hire_Date",
                "displayName": "Hire_Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          448,
          368
        ],
        "id": "c7eba427-c141-422d-b068-b6ca31f29389",
        "name": "Update Budtender Sales",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Create new budtender in Budtenders sheet. Use this ONLY when Search Budtender tool finds no existing budtender. Generate unique Budtender_ID, professional email, and set Performance_Tier to 'New'.",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
            "mode": "list",
            "cachedResultName": "Mota Rewards Database",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 992947458,
            "mode": "list",
            "cachedResultName": "Budtenders",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Budtender_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Budtender_ID', ``, 'string') }}",
              "First_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}",
              "Last_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Name', ``, 'string') }}",
              "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
              "Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}",
              "Dispensary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Dispensary', ``, 'string') }}",
              "Total_Sales_Attributed": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Sales_Attributed', ``, 'string') }}",
              "Performance_Tier": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Performance_Tier', ``, 'string') }}",
              "Hire_Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Hire_Date', ``, 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Budtender_ID",
                "displayName": "Budtender_ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "First_Name",
                "displayName": "First_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Last_Name",
                "displayName": "Last_Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone",
                "displayName": "Phone",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Dispensary",
                "displayName": "Dispensary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total_Sales_Attributed",
                "displayName": "Total_Sales_Attributed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Performance_Tier",
                "displayName": "Performance_Tier",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Hire_Date",
                "displayName": "Hire_Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.6,
        "position": [
          560,
          368
        ],
        "id": "81a2a158-bda2-421d-8821-a9abd81216de",
        "name": "Create New Budtender",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4",
            "mode": "list",
            "cachedResultName": "Customer Rewards ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1735141678,
            "mode": "list",
            "cachedResultName": "Form responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit#gid=1735141678"
          },
          "event": "rowAdded",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -1888,
          144
        ],
        "id": "3980973a-5d5f-4741-85e4-b471e8d429e0",
        "name": "Google Sheets Trigger",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "0Qkts3KNsqNFs46d",
            "name": "Google Sheets Trigger account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json['File Upload'] }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1296,
          144
        ],
        "id": "369653b4-4bc1-487b-93d3-46779f7e0c50",
        "name": "Download Receipt Image"
      },
      {
        "parameters": {
          "jsCode": "if (!items[0].binary?.data) {\n  throw new Error('No llega binary.data desde el nodo anterior');\n}\nitems[0].binary.data.mimeType = 'image/jpeg';\nitems[0].binary.data.fileName = 'receipt.jpg';\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1088,
          144
        ],
        "id": "eb361129-9483-422b-b4cf-898921c5204a",
        "name": "Fix MIME Type"
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "value": "chatgpt-4o-latest",
            "mode": "list",
            "cachedResultName": "CHATGPT-4O-LATEST"
          },
          "text": "You are an expert OCR + receipt parser.\n\nTASK\nExtract MoTA-brand purchases from a dispensary receipt image and return ONE JSON\nobject (no markdown) in EXACTLY this format:\n\n{\n  \"cashierName\":      string,   // full text after “Cashier” / “Cashier Name:”\n  \"motaProducts\": [\n    {\n      \"productName\": string,    // description as printed\n      \"unitPrice\":   number,    // Unit-Price value\n      \"quantity\":    number,    // numeric; if blank, use 1\n      \"totalPrice\":  number     // Amount / Total value\n    }\n  ],\n  \"totalMotaSpend\":  number     // sum of totalPrice\n}\n\nEXTRACTION RULES\n• A line belongs in motaProducts if its text contains the substring “mota”\n  (case-insensitive).  \n• Read **totalPrice** from the Amount / Total column **exactly as printed**.  \n• Read **quantity** exactly as printed, default 1 if the column is blank.  \n• Read **unitPrice** from the Unit-Price column **if present**; otherwise derive it\n  as totalPrice ÷ quantity (rounded to two decimals).  \n• Verify unitPrice × quantity ≈ totalPrice (±0.01). If the check fails,\n  recompute **unitPrice** with the formula above.  \n• Ignore all non-MoTA items (batteries, accessories, taxes, etc.).  \n• **cashierName** = everything after the first “:” on the line that starts with\n  “Cashier” or “Cashier Name” (trim spaces).  \n• After building motaProducts, compute totalMotaSpend = Σ totalPrice.  \n• Reply **ONLY** with the JSON object—no extra text, no markdown, no quotes.\n",
          "inputType": "base64",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -864,
          144
        ],
        "id": "fa658a65-49aa-4146-b8dc-b5c74907a7c3",
        "name": "Scan Receipt",
        "credentials": {
          "openAiApi": {
            "id": "QSZCyq3k9BQaHRuo",
            "name": "Openai - CNG"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ---------- 1. Read inputs ----------\n\n// 1a. Row from Google-Sheets trigger\nconst form = $(\"Google Sheets Trigger\").first().json ?? {};\n\n// 1b. Parsed JSON from Scan Receipt\nconst receipt = $(\"Scan Receipt\").first().json ?? {};\n\n// ---------- 2. Build output ----------\nconst output = {\n  // form fields\n  firstName:     form[\"Name - First Name\"] ?? \"\",\n  lastName:      form[\"Name - Last Name\"]  ?? \"\",\n  email:         form[\"Email\"]             ?? \"\",\n  phoneNumber:   form[\"Phone Number\"]      ?? \"\",\n  fileUploadUrl: form[\"File Upload\"]       ?? \"\",\n  question:      form[\"Type a question\"]   ?? \"\",\n  source:        form[\"source\"]            ?? \"\",\n  submissionId:  form[\"Submission ID\"]     ?? \"\",\n\n  // receipt fields\n  cashierName:     receipt.cashierName      ?? \"Unknown\",\n  motaProducts:    receipt.motaProducts     ?? [],\n  totalMotaSpend:  receipt.totalMotaSpend   ?? 0,\n\n  // keep full analysis text in case it’s useful\n  receiptAnalysis: $(\"Scan Receipt\").first().json.content ?? \"\"\n};\n\n// ---------- 3. Return ----------\nreturn [{ json: output }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -640,
          144
        ],
        "id": "9f6d247d-7a40-4f36-9c0f-add9a220b580",
        "name": "format data"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4",
            "mode": "list",
            "cachedResultName": "Customer Rewards ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1735141678,
            "mode": "list",
            "cachedResultName": "Form responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit#gid=1735141678"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Processed": "Done",
              "Submission ID": "={{ $json[\"Submission ID\"] }}",
              "Name - First Name": "={{ $json['Name - First Name'] }}",
              "Name - Last Name": "={{ $json['Name - Last Name'] }}",
              "Phone Number": "={{ $json['Phone Number'] }}",
              "Type a question": "={{ $json['Type a question'] }}",
              "File Upload": "={{ $json['File Upload'] }}",
              "source": "={{ $json.source }}",
              "Email": "={{ $json.Email }}",
              "Store": "={{ $json.Store }}"
            },
            "matchingColumns": [
              "Submission ID"
            ],
            "schema": [
              {
                "id": "Name - First Name",
                "displayName": "Name - First Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name - Last Name",
                "displayName": "Name - Last Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Number",
                "displayName": "Phone Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "File Upload",
                "displayName": "File Upload",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Type a question",
                "displayName": "Type a question",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Store",
                "displayName": "Store",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Submission ID",
                "displayName": "Submission ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Processed",
                "displayName": "Processed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -1248,
          -144
        ],
        "id": "0fda8318-0812-4844-965a-5afc00c7c1d7",
        "name": "Update Row",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4",
            "mode": "list",
            "cachedResultName": "Customer Rewards ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 27001987,
            "mode": "list",
            "cachedResultName": "Processed",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit#gid=27001987"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Submission ID": "={{ $json['Submission ID'] }}",
              "Processed": "={{ $json.Processed }}",
              "Name - First Name": "={{ $json['Name - First Name'] }}",
              "Name - Last Name": "={{ $json['Name - Last Name'] }}",
              "Phone Number": "={{ $json['Phone Number'] }}",
              "File Upload": "={{ $json['File Upload'] }}",
              "Type a question": "={{ $json['Type a question'] }}",
              "source": "={{ $json.source }}",
              "Email": "={{ $json.Email }}",
              "Store": "={{ $json.Store }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Name - First Name",
                "displayName": "Name - First Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Name - Last Name",
                "displayName": "Name - Last Name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Number",
                "displayName": "Phone Number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "File Upload",
                "displayName": "File Upload",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Type a question",
                "displayName": "Type a question",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "source",
                "displayName": "source",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Store",
                "displayName": "Store",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Submission ID",
                "displayName": "Submission ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Processed",
                "displayName": "Processed",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -1008,
          -144
        ],
        "id": "b2b30a53-1897-40a5-9157-c2c13c6b680c",
        "name": "Append Row",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "documentId": {
            "__rl": true,
            "value": "1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4",
            "mode": "list",
            "cachedResultName": "Customer Rewards ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1735141678,
            "mode": "list",
            "cachedResultName": "Form responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit#gid=1735141678"
          },
          "startIndex": "={{ $json.row_number }}"
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -528,
          -144
        ],
        "id": "22b92599-219c-4704-b549-c159b993c0af",
        "name": "Delete Row",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4",
            "mode": "list",
            "cachedResultName": "Customer Rewards ",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1735141678,
            "mode": "list",
            "cachedResultName": "Form responses",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_nHi6Ewc6PaJ1i2erja411kEXm1k-EtSrsrrKtMchE4/edit#gid=1735141678"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "Submission ID",
                "lookupValue": "={{ $json['Submission ID'] }}"
              }
            ]
          },
          "options": {
            "dataLocationOnSheet": {
              "values": {
                "rangeDefinition": "detectAutomatically"
              }
            },
            "returnFirstMatch": true
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          -784,
          -144
        ],
        "id": "b8a1508c-d2d3-44e9-ab40-aaa30a79da8f",
        "name": "Get Row",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "LSu2bHJie7HlsZRT",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gmail": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Search Customer": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update Customer Points": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create New Customer": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Search Budtender": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update Budtender Sales": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Create New Budtender": {
        "ai_tool": [
          [
            {
              "node": "Rex AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Download Receipt Image",
              "type": "main",
              "index": 0
            },
            {
              "node": "Update Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Receipt Image": {
        "main": [
          [
            {
              "node": "Fix MIME Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fix MIME Type": {
        "main": [
          [
            {
              "node": "Scan Receipt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Scan Receipt": {
        "main": [
          [
            {
              "node": "format data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "format data": {
        "main": [
          [
            {
              "node": "Rex AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Row": {
        "main": [
          [
            {
              "node": "Append Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append Row": {
        "main": [
          [
            {
              "node": "Get Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Row": {
        "main": [
          [
            {
              "node": "Delete Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
    }
  }