motabot-ai/workflows/tools/Tool_Get_Transaction_Items.json
{
  "name": "Tool: Get Transaction Items",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        380,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract transaction ID from input\nconst transactionId = $input.item.json.transactionId || $input.item.json.transaction_id;\n\nreturn {\n  json: {\n    transactionId: transactionId\n  }\n};"
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/transaction_items?transaction_id=eq.{{ $json.transactionId }}&select=*",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            }
          ]
        },
        "options": {}
      },
      "id": "get-items",
      "name": "Get Transaction Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format response\nconst transactionId = $('Extract Parameters').item.json.transactionId;\nconst items = $input.all().map(item => item.json);\n\nreturn {\n  json: {\n    transaction_id: transactionId,\n    total_items: items.length,\n    items: items.map(item => ({\n      product_name: item.product_name || 'Unknown',\n      brand: item.brand || null,\n      category: item.category || null,\n      quantity: item.quantity,\n      price: item.price,\n      total: item.total\n    }))\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Get Transaction Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transaction Items": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-12T00:00:00.000Z",
      "updatedAt": "2025-10-12T00:00:00.000Z",
      "id": "tool",
      "name": "tool"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-10-12T00:00:00.000Z",
  "versionId": "tool-get-items-v2-fixed"
}
