motabot-ai/workflows/active/Database Query Agent-needs tools built.json
{
  "name": "Database Query Agent-needs tools built",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 MotaBot v5.300 - DATABASE QUERY AGENT\n\n**NEW ARCHITECTURE:**\n✅ AI with 4 database query tools\n✅ Accurate, real data - no hallucinations\n✅ Handles ANY customer question\n✅ Natural conversations\n\n**4 TOOLS CONNECTED:**\n1️⃣ Get Customer Transactions\n2️⃣ Get Transaction Items  \n3️⃣ Search Products Purchased\n4️⃣ Calculate Spending\n\n**HOW IT WORKS:**\nCustomer: \"What did I buy last time?\"\nAI → Uses Tool 1 & 2 → Gets real data → Responds\n\n**CONNECTED TO:**\n- Supabase SMS (messages)\n- Supabase CRM (10K+ customers, 93K+ transactions)",
        "height": 500,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -160
      ],
      "id": "0ecb39b8-4639-4553-878f-e3625afa36e6",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "df8246ee-4b1d-4031-84a8-bebc82eaf8d5",
      "name": "Poll Every 1min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        416
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "87138eb1-47d4-41fd-b93a-5900754cad42",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "c33733da-5159-4cd7-ba53-d8da6f4d7c7f",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "// v5.300: Simplified - AI uses tools for data lookup\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\n\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\n\n// Fetch conversation history (still useful for context)\nlet history = [];\ntry {\n  const url = `${supabaseUrl}/rest/v1/messages?select=*&phone_number=eq.${phoneNumber}&order=timestamp.desc&limit=20`;\n  const response = await fetch(url, {\n    method: 'GET',\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Accept': 'application/json'\n    }\n  });\n  \n  if (response.ok) {\n    history = await response.json();\n  }\n} catch (error) {\n  console.log('Could not fetch history:', error);\n}\n\n// Build simple context\nlet conversation = 'CONVERSATION HISTORY:\\n\\n';\nif (history.length > 0) {\n  history.reverse().forEach(msg => {\n    const timestamp = new Date(msg.timestamp).toLocaleString();\n    const role = msg.direction === 'inbound' ? 'Customer' : 'You';\n    conversation += `[${timestamp}] ${role}: ${msg.content}\\n\\n`;\n  });\n}\n\nconversation += '\\nCURRENT MESSAGE (use your database tools to answer):\\n';\nconversation += `Customer: ${incomingMessage}\\n`;\nconversation += `Phone: ${phoneNumber}`;\n\nreturn {\n  json: {\n    chatInput: conversation,\n    phone_number: phoneNumber,\n    message_id: messageId\n  }\n};"
      },
      "id": "2029cfb8-a2a9-453f-9623-e7e71486ca32",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        416
      ]
    },
    {
      "parameters": {
        "name": "get_customer_transactions",
        "description": "Get customer transaction history for a customer by phone number",
        "workflowId": "ofKuX9TlLmRMSpfB"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -16,
        640
      ],
      "id": "dea4b529-f322-4117-83e1-5c7a4e2bc6fe",
      "name": "Get Transactions Tool"
    },
    {
      "parameters": {
        "name": "get_transaction_items",
        "description": "Get items in a specific transaction by transaction ID",
        "workflowId": "gYEHBHKI7NjMfyPa"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        112,
        640
      ],
      "id": "00d46f0b-13eb-4430-a3ec-7d1adb032725",
      "name": "Get Items Tool"
    },
    {
      "parameters": {
        "name": "search_products_purchased",
        "description": "Search what products a customer has purchased",
        "workflowId": "dWNHqwcxiEHSFKHU"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        256,
        656
      ],
      "id": "1d9d55cb-51c6-409c-b261-3d41c63f4a4b",
      "name": "Search Products Tool"
    },
    {
      "parameters": {
        "name": "calculate_spending",
        "description": "Calculate total spending for a customer with optional date filtering",
        "workflowId": "dq2l9e41YEs1zJkA"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        656
      ],
      "id": "4a61ef77-cca3-46b7-a627-3d89c7288bda",
      "name": "Calculate Spending Tool"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MotaBot v5.300 - Mota Rewards AI assistant with DATABASE QUERY CAPABILITIES.\n\nYou have access to the customer's conversation history and their phone number. Use your database query tools to answer questions about their account.\n\n**YOUR DATABASE QUERY TOOLS:**\n\n1. **get_customer_transactions** - Get transaction history by phone number\n2. **get_transaction_items** - Get items in a specific transaction\n3. **search_products_purchased** - Search what products they've bought\n4. **calculate_spending** - Calculate spending totals with date filters\n\n**WHEN TO USE TOOLS:**\n\n\"What did I buy last time?\"\n→ Use get_customer_transactions (limit=1), then get_transaction_items\n\n\"How much have I spent?\"\n→ Use calculate_spending\n\n\"Have I bought [product]?\"\n→ Use search_products_purchased with searchTerm\n\n**YOUR PERSONALITY:**\n- Friendly and helpful\n- Keep responses under 150 characters for SMS\n- Be natural and conversational\n- DO NOT use emojis (they cause SMS failures)\n\n**WHAT YOU CAN SHARE:**\n✅ Customer's own data (transactions, purchases, spending, visits, staff who helped them)\n❌ Other customers' information, real-time inventory, staff schedules\n\n**IMPORTANT:**\nWhen you query the database and get results, explain naturally. Don't say \"I queried the database\" - just give them the info!\n\nExample:\n❌ \"I searched the database and found...\"\n✅ \"You bought Blue Dream on Oct 9th for $53!\"\n\nUse your tools to give ACCURATE answers with REAL data!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        416
      ],
      "id": "1b03e098-0a62-4d2f-9d03-f4eb746d4422",
      "name": "MotaBot AI v5.300"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet:thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -160,
        640
      ],
      "id": "7251e928-a89a-4a85-b79b-dae6641884b2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ToJIqxXt2y23vXOH",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $('Prepare for AI').item.json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "492b3ad0-4a69-4157-9673-25564f946dbf",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Prepare for AI').item.json.phone_number, content: $json.output || $json.text || $json.response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "96fb135d-a9e2-456f-824c-9bad568d55a1",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 1min": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transactions Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Items Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Products Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Spending Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MotaBot AI v5.300": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4687f919-acd9-4a83-b915-0120b052b3a4",
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "MZ70QUcWsPK6rPqj",
  "tags": []
}