motabot-ai/workflows/active/MotaBot v5.300 - Database Query Agent.json
{
  "name": "MotaBot v5.300 - Database Query Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## 🔍 MotaBot v5.300 - DATABASE QUERY AGENT\n\n**NEW ARCHITECTURE:**\n✅ AI with 4 database query tools\n✅ Accurate, real data - no hallucinations\n✅ Handles ANY customer question\n✅ Natural conversations\n\n**4 TOOLS CONNECTED:**\n1️⃣ Get Customer Transactions\n2️⃣ Get Transaction Items  \n3️⃣ Search Products Purchased\n4️⃣ Calculate Spending\n\n**HOW IT WORKS:**\nCustomer: \"What did I buy last time?\"\nAI → Uses Tool 1 & 2 → Gets real data → Responds\n\n**CONNECTED TO:**\n- Supabase SMS (messages)\n- Supabase CRM (10K+ customers, 93K+ transactions)",
        "height": 500,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -208
      ],
      "id": "8a3e1506-9d23-4c14-8b52-7384d1f07772",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "efd669b0-2332-45a3-818f-504160221e85",
      "name": "Poll Every 1min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -960,
        368
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "1f8180b1-ed5e-4bbd-b6fd-865238f1daae",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "946510e4-8a63-4839-9b0c-2180055fbb93",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// v5.300: Simplified - AI uses tools for data lookup\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\n\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\n\n// Fetch conversation history (still useful for context)\nlet history = [];\ntry {\n  const url = `${supabaseUrl}/rest/v1/messages?select=*&phone_number=eq.${phoneNumber}&order=timestamp.desc&limit=20`;\n  const response = await fetch(url, {\n    method: 'GET',\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Accept': 'application/json'\n    }\n  });\n  \n  if (response.ok) {\n    history = await response.json();\n  }\n} catch (error) {\n  console.log('Could not fetch history:', error);\n}\n\n// Build simple context\nlet conversation = 'CONVERSATION HISTORY:\\n\\n';\nif (history.length > 0) {\n  history.reverse().forEach(msg => {\n    const timestamp = new Date(msg.timestamp).toLocaleString();\n    const role = msg.direction === 'inbound' ? 'Customer' : 'You';\n    conversation += `[${timestamp}] ${role}: ${msg.content}\\n\\n`;\n  });\n}\n\nconversation += '\\nCURRENT MESSAGE (use your database tools to answer):\\n';\nconversation += `Customer: ${incomingMessage}\\n`;\nconversation += `Phone: ${phoneNumber}`;\n\nreturn {\n  json: {\n    chatInput: conversation,\n    phone_number: phoneNumber,\n    message_id: messageId\n  }\n};"
      },
      "id": "119b2c53-adfa-4fda-84c0-042801a00834",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        368
      ]
    },
    {
      "parameters": {
        "name": "get_customer_transactions",
        "description": "Get transaction history for a customer by phone number",
        "workflowJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"jsCode\": \"// TOOL 1: Get Customer Transactions\\nconst phoneNumber = $input.item.json.phoneNumber || $input.item.json.phone_number;\\nconst limit = $input.item.json.limit || 10;\\n\\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\\n\\ntry {\\n  // Get customer by phone\\n  const custResp = await fetch(\\n    `${supabaseUrl}/rest/v1/customers?phone=eq.${encodeURIComponent(phoneNumber)}&select=member_id,name&limit=1`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`,\\n        'Accept': 'application/json'\\n      }\\n    }\\n  );\\n  \\n  const customers = await custResp.json();\\n  if (!customers || customers.length === 0) {\\n    return { json: { error: 'Customer not found', transactions: [] } };\\n  }\\n  \\n  const memberId = customers[0].member_id;\\n  \\n  // Get transactions\\n  const txnResp = await fetch(\\n    `${supabaseUrl}/rest/v1/transactions?customer_id=eq.${memberId}&select=*&order=date.desc&limit=${Math.min(limit, 50)}`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`,\\n        'Accept': 'application/json'\\n      }\\n    }\\n  );\\n  \\n  const transactions = await txnResp.json();\\n  \\n  return {\\n    json: {\\n      customer_name: customers[0].name,\\n      member_id: memberId,\\n      total_transactions: transactions.length,\\n      transactions: transactions.map(t => ({\\n        transaction_id: t.transaction_id,\\n        date: t.date,\\n        location: t.shop_location,\\n        staff: t.staff_name,\\n        total: t.total_amount,\\n        payment: t.payment_type,\\n        points_earned: t.loyalty_points_earned\\n      }))\\n    }\\n  };\\n} catch (error) {\\n  return { json: { error: error.message, transactions: [] } };\\n}\"\n      },\n      \"type\": \"n8n-nodes-base.code\",\n      \"typeVersion\": 2,\n      \"position\": [250, 300]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -64,
        752
      ],
      "id": "tool-get-transactions-id",
      "name": "Get Transactions Tool"
    },
    {
      "parameters": {
        "name": "get_transaction_items",
        "description": "Get items in a specific transaction by transaction ID",
        "workflowJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"jsCode\": \"// TOOL 2: Get Transaction Items\\nconst transactionId = $input.item.json.transactionId || $input.item.json.transaction_id;\\n\\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\\n\\ntry {\\n  // Get transaction items\\n  const itemsResp = await fetch(\\n    `${supabaseUrl}/rest/v1/transaction_items?transaction_id=eq.${transactionId}&select=*`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`,\\n        'Accept': 'application/json'\\n      }\\n    }\\n  );\\n  \\n  const items = await itemsResp.json();\\n  \\n  // Get product details\\n  const productIds = [...new Set(items.map(i => i.product_id).filter(Boolean))];\\n  \\n  let products = {};\\n  if (productIds.length > 0) {\\n    const prodResp = await fetch(\\n      `${supabaseUrl}/rest/v1/products?id=in.(${productIds.join(',')})&select=id,name,brand,category,strain_type,thc_content,cbd_content`,\\n      {\\n        headers: {\\n          'apikey': supabaseKey,\\n          'Authorization': `Bearer ${supabaseKey}`,\\n          'Accept': 'application/json'\\n        }\\n      }\\n    );\\n    \\n    const prodList = await prodResp.json();\\n    products = Object.fromEntries(prodList.map(p => [p.id, p]));\\n  }\\n  \\n  return {\\n    json: {\\n      transaction_id: transactionId,\\n      total_items: items.length,\\n      items: items.map(item => {\\n        const product = products[item.product_id] || {};\\n        return {\\n          product_name: item.product_name || product.name || 'Unknown',\\n          brand: product.brand,\\n          category: product.category,\\n          strain_type: product.strain_type,\\n          thc: product.thc_content,\\n          cbd: product.cbd_content,\\n          quantity: item.quantity,\\n          price: item.price,\\n          total: item.total\\n        };\\n      })\\n    }\\n  };\\n} catch (error) {\\n  return { json: { error: error.message, items: [] } };\\n}\"\n      },\n      \"type\": \"n8n-nodes-base.code\",\n      \"typeVersion\": 2,\n      \"position\": [250, 300]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -64,
        912
      ],
      "id": "tool-get-items-id",
      "name": "Get Items Tool"
    },
    {
      "parameters": {
        "name": "search_products_purchased",
        "description": "Search what products a customer has purchased",
        "workflowJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"jsCode\": \"// TOOL 3: Search Products Purchased\\nconst phoneNumber = $input.item.json.phoneNumber || $input.item.json.phone_number;\\nconst searchTerm = $input.item.json.searchTerm || $input.item.json.search_term || '';\\n\\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\\n\\ntry {\\n  const custResp = await fetch(\\n    `${supabaseUrl}/rest/v1/customers?phone=eq.${encodeURIComponent(phoneNumber)}&select=member_id&limit=1`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`\\n      }\\n    }\\n  );\\n  \\n  const customers = await custResp.json();\\n  if (!customers || customers.length === 0) {\\n    return { json: { error: 'Customer not found', products: [] } };\\n  }\\n  \\n  const memberId = customers[0].member_id;\\n  \\n  const txnResp = await fetch(\\n    `${supabaseUrl}/rest/v1/transactions?customer_id=eq.${memberId}&select=transaction_id`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`\\n      }\\n    }\\n  );\\n  \\n  const transactions = await txnResp.json();\\n  const txnIds = transactions.map(t => t.transaction_id);\\n  \\n  if (txnIds.length === 0) {\\n    return { json: { products: [] } };\\n  }\\n  \\n  const itemsResp = await fetch(\\n    `${supabaseUrl}/rest/v1/transaction_items?transaction_id=in.(${txnIds.join(',')})&select=product_name,quantity,price`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`\\n      }\\n    }\\n  );\\n  \\n  let items = await itemsResp.json();\\n  \\n  if (searchTerm) {\\n    const search = searchTerm.toLowerCase();\\n    items = items.filter(i => \\n      (i.product_name || '').toLowerCase().includes(search)\\n    );\\n  }\\n  \\n  const productMap = {};\\n  for (const item of items) {\\n    const name = item.product_name || 'Unknown';\\n    if (!productMap[name]) {\\n      productMap[name] = {\\n        product_name: name,\\n        times_purchased: 0,\\n        total_quantity: 0,\\n        total_spent: 0\\n      };\\n    }\\n    productMap[name].times_purchased += 1;\\n    productMap[name].total_quantity += item.quantity || 1;\\n    productMap[name].total_spent += parseFloat(item.price || 0);\\n  }\\n  \\n  const products = Object.values(productMap).sort((a, b) => b.times_purchased - a.times_purchased);\\n  \\n  return {\\n    json: {\\n      total_unique_products: products.length,\\n      products: products.slice(0, 20)\\n    }\\n  };\\n} catch (error) {\\n  return { json: { error: error.message, products: [] } };\\n}\"\n      },\n      \"type\": \"n8n-nodes-base.code\",\n      \"typeVersion\": 2,\n      \"position\": [250, 300]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -64,
        1072
      ],
      "id": "tool-search-products-id",
      "name": "Search Products Tool"
    },
    {
      "parameters": {
        "name": "calculate_spending",
        "description": "Calculate total spending for a customer with optional date filtering",
        "workflowJson": "={\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"jsCode\": \"// TOOL 4: Calculate Customer Spending\\nconst phoneNumber = $input.item.json.phoneNumber || $input.item.json.phone_number;\\nconst startDate = $input.item.json.startDate || $input.item.json.start_date || '2000-01-01';\\nconst endDate = $input.item.json.endDate || $input.item.json.end_date || '2099-12-31';\\n\\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\\n\\ntry {\\n  const custResp = await fetch(\\n    `${supabaseUrl}/rest/v1/customers?phone=eq.${encodeURIComponent(phoneNumber)}&select=member_id,name,lifetime_value,total_visits&limit=1`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`\\n      }\\n    }\\n  );\\n  \\n  const customers = await custResp.json();\\n  if (!customers || customers.length === 0) {\\n    return { json: { error: 'Customer not found' } };\\n  }\\n  \\n  const customer = customers[0];\\n  \\n  const txnResp = await fetch(\\n    `${supabaseUrl}/rest/v1/transactions?customer_id=eq.${customer.member_id}&date=gte.${startDate}&date=lte.${endDate}&select=total_amount,date,shop_location`,\\n    {\\n      headers: {\\n        'apikey': supabaseKey,\\n        'Authorization': `Bearer ${supabaseKey}`\\n      }\\n    }\\n  );\\n  \\n  const transactions = await txnResp.json();\\n  \\n  const totalSpent = transactions.reduce((sum, t) => sum + parseFloat(t.total_amount || 0), 0);\\n  const avgTransaction = transactions.length > 0 ? totalSpent / transactions.length : 0;\\n  \\n  const byLocation = {};\\n  for (const txn of transactions) {\\n    const loc = txn.shop_location || 'Unknown';\\n    if (!byLocation[loc]) {\\n      byLocation[loc] = { location: loc, visits: 0, spent: 0 };\\n    }\\n    byLocation[loc].visits += 1;\\n    byLocation[loc].spent += parseFloat(txn.total_amount || 0);\\n  }\\n  \\n  return {\\n    json: {\\n      customer_name: customer.name,\\n      date_range: { start: startDate, end: endDate },\\n      transactions_in_period: transactions.length,\\n      total_spent_in_period: Math.round(totalSpent * 100) / 100,\\n      average_transaction: Math.round(avgTransaction * 100) / 100,\\n      lifetime_total: customer.lifetime_value,\\n      lifetime_visits: customer.total_visits,\\n      spending_by_location: Object.values(byLocation)\\n    }\\n  };\\n} catch (error) {\\n  return { json: { error: error.message } };\\n}\"\n      },\n      \"type\": \"n8n-nodes-base.code\",\n      \"typeVersion\": 2,\n      \"position\": [250, 300]\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.1,
      "position": [
        -64,
        1232
      ],
      "id": "tool-calculate-spending-id",
      "name": "Calculate Spending Tool"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MotaBot v5.300 - Mota Rewards AI assistant with DATABASE QUERY CAPABILITIES.\n\nYou have access to the customer's conversation history and their phone number. Use your database query tools to answer questions about their account.\n\n**YOUR DATABASE QUERY TOOLS:**\n\n1. **get_customer_transactions** - Get transaction history by phone number\n2. **get_transaction_items** - Get items in a specific transaction\n3. **search_products_purchased** - Search what products they've bought\n4. **calculate_spending** - Calculate spending totals with date filters\n\n**WHEN TO USE TOOLS:**\n\n\"What did I buy last time?\"\n→ Use get_customer_transactions (limit=1), then get_transaction_items\n\n\"How much have I spent?\"\n→ Use calculate_spending\n\n\"Have I bought [product]?\"\n→ Use search_products_purchased with searchTerm\n\n**YOUR PERSONALITY:**\n- Friendly and helpful\n- Keep responses under 150 characters for SMS\n- Be natural and conversational\n- DO NOT use emojis (they cause SMS failures)\n\n**WHAT YOU CAN SHARE:**\n✅ Customer's own data (transactions, purchases, spending, visits, staff who helped them)\n❌ Other customers' information, real-time inventory, staff schedules\n\n**IMPORTANT:**\nWhen you query the database and get results, explain naturally. Don't say \"I queried the database\" - just give them the info!\n\nExample:\n❌ \"I searched the database and found...\"\n✅ \"You bought Blue Dream on Oct 9th for $53!\"\n\nUse your tools to give ACCURATE answers with REAL data!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        128,
        368
      ],
      "id": "688163c1-4a42-4ebe-9170-7bc3957a2871",
      "name": "MotaBot AI v5.300"
    },
    {
      "parameters": {
        "model": "google/gemini-flash-1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -64,
        592
      ],
      "id": "c3cc7e74-2c72-4df6-b6dd-9b93f8eff98c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $('Prepare for AI').item.json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "278f85f1-c22a-4ec9-a089-6434262a40be",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Prepare for AI').item.json.phone_number, content: $json.output || $json.text || $json.response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "44489cf0-095a-474c-8c7e-eacc3d0678dd",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        464
      ]
    }
  ],
  "connections": {
    "Poll Every 1min": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transactions Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Items Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Products Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Spending Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI v5.300",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MotaBot AI v5.300": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-12T00:00:00.000Z",
      "updatedAt": "2025-10-12T00:00:00.000Z",
      "id": "v5-300",
      "name": "v5.300"
    },
    {
      "createdAt": "2025-10-12T00:00:00.000Z",
      "updatedAt": "2025-10-12T00:00:00.000Z",
      "id": "database-query-agent",
      "name": "database-query-agent"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-12T00:00:00.000Z",
  "versionId": "v5-300-database-query-complete"
}
