motabot-ai/workflows/active/My workflow 20.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "93810243-f736-40c5-8d48-c3a7de89c614",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1952,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fd257184-39ea-4f71-b531-bec3bf8a7e2e",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1728,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Find the most recent unread message and filter conversation by that phone number only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\n// Only run workflow if there's at least one unread message\nif (unreadInbound.length === 0) { \n  return []; \n}\n\n// Find the most recent unread message\nconst latestUnread = unreadInbound.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp))[0];\nconst targetPhoneNumber = latestUnread.phone_number;\n\n// Filter messages to ONLY include conversation with this specific phone number\nconst phoneConversation = messages.filter(msg => \n  msg.phone_number === targetPhoneNumber\n);\n\n// Sort conversation chronologically (oldest first)\nconst sortedConversation = phoneConversation.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\nreturn [{\n  json: {\n    message_id: latestUnread.id,\n    phone_number: targetPhoneNumber,\n    incoming_message: latestUnread.content,\n    timestamp: latestUnread.timestamp,\n    conversation_messages: sortedConversation // Only this phone number's conversation\n  }\n}];"
      },
      "id": "aa34a781-7968-4c81-afcb-57956b266f46",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get conversation history from filtered messages and prepare for AI\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\nconst timestamp = currentMessage.timestamp;\nconst conversationMessages = currentMessage.conversation_messages || [];\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    incoming_message: incomingMessage,\n    message_id: messageId,\n    timestamp: timestamp,\n    conversation_messages: conversationMessages // Only this phone number's conversation\n  }\n};"
      },
      "id": "22bc16b8-20bc-4b48-975f-186d100c4ffa",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use filtered conversation messages for this specific phone number only\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number || '';\nconst incomingMessage = currentMessage.incoming_message || '';\nconst messageId = currentMessage.message_id || '';\nconst conversationMessages = currentMessage.conversation_messages || [];\n\n// Build conversation history from filtered messages (only this phone number)\nlet conversationHistory = '';\nif (conversationMessages.length > 0) {\n  for (const msg of conversationMessages) {\n    const direction = msg.direction === 'inbound' ? 'Customer' : 'You';\n    const content = msg.content;\n    const time = new Date(msg.timestamp).toLocaleString();\n    conversationHistory += `[${time}] ${direction}: ${content}\\n`;\n  }\n} else {\n  conversationHistory = '(No previous conversation - this is the first message)';\n}\n\n// Create enhanced prompt with conversation history\nconst prompt = `Customer Phone: ${phoneNumber}\n\nCONVERSATION HISTORY:\n${conversationHistory}\n\nCURRENT MESSAGE:\nCustomer: ${incomingMessage}\n\nUse your tools to look up customer data and products, then respond with context from this conversation!`;\n\nreturn {\n  json: {\n    chatInput: prompt,\n    phone_number: phoneNumber,\n    message_id: messageId,\n    conversation_history: conversationHistory\n  }\n};"
      },
      "id": "7109c1d1-b9b2-4518-a4de-026e51c4bdf3",
      "name": "Format Conversation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        272
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are Luis - the friendly, SUPER knowledgeable store manager and owner of Mota. You're the head of customer care and personally manage customer relationships through text.\n\nCOMMUNICATION STYLE:\n- Personal & Friendly: Always greet customers by their first name\n- Concise: Keep responses under 150 characters for SMS\n- Helpful: Be informative without being pushy\n- Professional: NO emojis (they cause SMS delivery failures)\n- Courteous: Always be polite and respectful\n\nYOUR BUSINESS UNDERSTANDING:\nMota Rewards Program: 1 point per dollar spent at 3rd party stores, 10 points to budtender in BTPoints. Customers submit receipt photos → software reads & awards points to both budtender AND customer.\n\nCustomer Types: Store regulars, 3rd party budtenders, in-house Mota budtenders. Understanding WHO you're talking to is crucial!\n\nTOOLS & PROCESS (ALWAYS DO THIS FIRST):\nWhen ANY customer texts you:\n1. Use 'Customers Data Points' → Get name, points, email, visit history\n2. Use 'Get many rows in Supabase Customers' → Find customer_id by phone\n3. Use 'Get many rows in Supabase Transactions' → Get purchase history\n4. Combine all data for personalized response\n\nRESPONSE STRATEGY:\nALWAYS: Use their real name, reference specific purchase history, mention current points, suggest products based on history, offer deals\nNEVER: Give generic responses, ignore purchase history, forget their name\n\nEXAMPLE RESPONSES:\nCustomer: \"What are my points?\"\n→ \"Hey Stephen! You have 600 points! You usually buy OG Kush and Blue Dream - we have fresh batches. Want me to set some aside?\"\n\nCustomer: \"What do you recommend?\"\n→ \"Based on your history, you love relaxing strains. Try Purple Punch or stick with OG Kush. Both help with sleep and stress. Want details?\"\n\nENHANCED PRODUCT KNOWLEDGE:\nUse 'Get many rows in Supabase Products' to search 11,515 products with Leafly data:\n- Effects: Relaxed, Euphoric, Creative, Energetic, Happy, Uplifted\n- Medical uses: Anxiety, Pain, Insomnia, Stress, Depression\n- Flavors: Pine, Citrus, Diesel, Berry, Earthy\n- Strain types: Indica, Sativa, Hybrid\n- Ratings & review counts from Leafly\n\nSEARCH EXAMPLES:\n- Relaxing strains: WHERE 'Relaxed' = ANY(effects) AND leafly_rating IS NOT NULL\n- Anxiety help: WHERE 'Anxiety' = ANY(helps_with) AND leafly_rating IS NOT NULL\n- OG Kush: WHERE strain ILIKE '%OG%Kush%' AND leafly_description IS NOT NULL\n\nPRIVACY:\n✅ Share everything about THEIR account\n✅ Reference their specific purchase history\n✅ Offer personalized deals\n❌ Never share OTHER customers' info\n\nREMEMBER: You're Luis - the owner who knows every customer personally. Use real data to show you remember them and care about their experience. Every response should feel personal and informed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -688,
        272
      ],
      "id": "06a9d9e2-39f1-4420-85e7-1f6e68882625",
      "name": "MotaBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1056,
        496
      ],
      "id": "33ce3900-69bf-4bec-9de7-68574386985e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?phone_number=eq.' + $('Format Conversation Context').item.json.phone_number + '&status=eq.unread' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "d6f259ec-878b-4106-80eb-90dd9a0c14bf",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Format Conversation Context').item.json.phone_number, content: $json.output || $json.text || $json.response, status: 'queued', direction: 'outbound', timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "836c6038-2699-49a3-86b4-48f4ff40b9c1",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        32
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1280,
        688
      ],
      "id": "29c2e5a7-36a3-4cc2-8d5b-be48101271e1",
      "name": "Customers Data Points",
      "description": "Query customer information by phone number to get points balance, last visit location, and last budtender. Fields: First_Name, Last_Name, Phone, Total_Points, Last_dispensary, Last_budtender"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1120,
        688
      ],
      "id": "290caf7b-f6b9-4ee6-9cba-1f24042aa1b6",
      "name": "Budtenders Data Points",
      "description": "Query budtender performance data including total sales attributed and performance tier. Useful for checking which budtenders are top performers"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -976,
        704
      ],
      "id": "fc86427e-a8b8-4e83-a718-af03029203fb",
      "name": "Budtenders DB 2025 Info",
      "description": "Query full budtender contact information including first_name, last_name, phone, email, store_name, and address. Use this for detailed budtender information"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "MoTA Rewards Points Earned!",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is an update for a rewards program the customer has joined, we are Mota, the customer has purchased our products and sent in a photo of the receipt. We want to make sure this doesn't get stuck in a spam filter so no emojis etc, act as Luis head of rewards program for Mota\n\nHello (customername) ! Great news!\n\nYou've earned MoTa Rewards points from your recent purchase at (Last_dispensary)\n\nMoTa Products Purchased:- Total MoTa spent: $XX- Mota Points earned: 65 points, your balance is XX Points, \nYour budtender (budtenders name here) helped you with this purchase. \nThanks for choosing MoTa! Luis - MoTa Rewards Team`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Luis - MoTA Rewards"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -544,
        496
      ],
      "id": "3abd23f4-5f4c-40ae-a8b0-a705e8eebc42",
      "name": "Gmail",
      "webhookId": "883b3d0b-7efa-4fdf-abba-f8e325970503",
      "credentials": {
        "gmailOAuth2": {
          "id": "BvZyBEwmYVeo2pxs",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transactions"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -416,
        496
      ],
      "id": "f82f32e2-3b03-45d1-805a-5f3f2192c6d5",
      "name": "Get many rows in Supabase Transactions",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customers"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -288,
        496
      ],
      "id": "5e3f9049-cdfb-42ae-b03f-56e11b34b5c4",
      "name": "Get many rows in Supabase Customers",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -160,
        496
      ],
      "id": "6c691856-6eea-4900-b07a-f077dc41b967",
      "name": "Get many rows in Supabase Products",
      "description": "⭐ Search 11,515 products by NAME or STRAIN with Leafly data! Use ILIKE '%OG%' to find OG Kush (1,079 products), Blue Dream (969 products), etc. Filter by effects, medical uses, flavors, terpenes, ratings. ALWAYS include 'WHERE leafly_description IS NOT NULL' to get products with rich data!",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -32,
        496
      ],
      "id": "cbd92f34-0d6d-4a31-8f88-685baf295253",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "ilike",
              "keyValue": "={{ $json.search_term }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -880,
        512
      ],
      "id": "429a7d6c-9a30-4aa9-b7f1-7fa5b47c2fe5",
      "name": "Search MOTA Products",
      "description": "Search MOTA product inventory by name, strain, or type. Use this to find products to suggest to customers based on their needs and preferences. Returns product details, pricing, THC/CBD content, and availability.",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "=phone",
              "keyValue": "={{ $json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -752,
        512
      ],
      "id": "37e666b8-5ed0-42bb-ada7-8b484b8df207",
      "name": "Get Customer by Phone",
      "description": "Find customer by phone number to get member_id (UUID string). Use phone like '+16199773020'. Returns: member_id (UUID string - use this for transactions), name, email, vip_status, lifetime_value, total_visits, last_visited. IMPORTANT: Use the member_id field (UUID string), NOT the id field (integer)!",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "ilike",
              "keyValue": "={{ $json.search_term }}"
            },
            {
              "keyName": "is not",
              "keyValue": "leafly_description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        160,
        720
      ],
      "id": "3fc5dcbc-8979-4943-99ac-1bd8451e5f10",
      "name": "Get Products with Leafly Data",
      "description": "Search products with Leafly data by name or strain. Returns product details, effects, terpenes, and medical uses. Only returns products that have Leafly descriptions.",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "Format Conversation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Conversation Context": {
      "main": [
        [
          {
            "node": "MotaBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MotaBot AI": {
      "main": [
        [
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customers Data Points": {
      "ai_tool": [
        []
      ]
    },
    "Budtenders Data Points": {
      "ai_tool": [
        []
      ]
    },
    "Budtenders DB 2025 Info": {
      "ai_tool": [
        []
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase Transactions": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase Customers": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows in Supabase Products": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search MOTA Products": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer by Phone": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Products with Leafly Data": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  }
}