motabot-ai/workflows/active/supabaseimport_LEAFLY_ENHANCED.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "id": "51b845fa-51e2-49fc-b142-b8b26d0c1985",
        "name": "Poll Every 30s",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2944,
          240
        ]
      },
      {
        "parameters": {
          "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "81b6f7f7-cb94-42eb-adf9-908fc6d720b7",
        "name": "Get Recent Messages",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2720,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "// Check if there are any unread messages, but pass through ALL messages for context\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\n// Only run workflow if there's at least one unread message\nif (unreadInbound.length === 0) { \n  return []; \n}\n\n// Find the most recent unread message\nconst latestUnread = unreadInbound.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp))[0];\n\n// Pass through ALL messages for conversation context, but mark the latest unread\nreturn [{\n  json: {\n    message_id: latestUnread.id,\n    phone_number: latestUnread.phone_number,\n    incoming_message: latestUnread.content,\n    timestamp: latestUnread.timestamp,\n    all_messages: messages // Pass all messages for context\n  }\n}];"
        },
        "id": "fa5399f9-efb7-4795-a148-d70cc453e2af",
        "name": "Filter Unread Messages",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2496,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "// Get conversation history from all messages and prepare for AI\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\nconst timestamp = currentMessage.timestamp;\nconst allMessages = currentMessage.all_messages || [];\n\n// Sort all messages by timestamp (oldest first) for conversation context\nconst sortedMessages = allMessages.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    incoming_message: incomingMessage,\n    message_id: messageId,\n    timestamp: timestamp,\n    all_messages: sortedMessages // Include all messages for AI context\n  }\n};"
        },
        "id": "6f5c34e0-9994-4e96-8d28-e59e6cc05beb",
        "name": "Prepare for AI",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2272,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "// Use all messages from Prepare for AI node for complete conversation context\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number || '';\nconst incomingMessage = currentMessage.incoming_message || '';\nconst messageId = currentMessage.message_id || '';\nconst allMessages = currentMessage.all_messages || [];\n\n// Build conversation history from all messages\nlet conversationHistory = '';\nif (allMessages.length > 0) {\n  for (const msg of allMessages) {\n    const direction = msg.direction === 'inbound' ? 'Customer' : 'You';\n    const content = msg.content;\n    const time = new Date(msg.timestamp).toLocaleString();\n    conversationHistory += `[${time}] ${direction}: ${content}\\n`;\n  }\n} else {\n  conversationHistory = '(No previous conversation - this is the first message)';\n}\n\n// Create enhanced prompt with conversation history\nconst prompt = `Customer Phone: ${phoneNumber}\n\nCONVERSATION HISTORY:\n${conversationHistory}\n\nCURRENT MESSAGE:\nCustomer: ${incomingMessage}\n\nUse your tools to look up customer data and products, then respond with context from this conversation!`;\n\nreturn {\n  json: {\n    chatInput: prompt,\n    phone_number: phoneNumber,\n    message_id: messageId,\n    conversation_history: conversationHistory\n  }\n};"
        },
        "id": "53e22453-a505-4694-8dd6-abc56b6bab8e",
        "name": "Format Conversation Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1824,
          240
        ]
      },
      {
        "parameters": {
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "You are Luis - the friendly, SUPER knowledgeable store manager and owner of Mota. You're the head of customer care and personally manage customer relationships through text.\n\nCOMMUNICATION STYLE:\n- Personal & Friendly: Always greet customers by their first name\n- Concise: Keep responses under 150 characters for SMS\n- Helpful: Be informative without being pushy\n- Professional: NO emojis (they cause SMS delivery failures)\n- Courteous: Always be polite and respectful\n\nYOUR BUSINESS UNDERSTANDING:\nMota Rewards Program: 1 point per dollar spent at 3rd party stores, 10 points to budtender in BTPoints. Customers submit receipt photos → software reads & awards points to both budtender AND customer.\n\nCustomer Types: Store regulars, 3rd party budtenders, in-house Mota budtenders. Understanding WHO you're talking to is crucial!\n\nTOOLS & PROCESS (ALWAYS DO THIS FIRST):\nWhen ANY customer texts you:\n1. Use 'Customers Data Points' → Get name, points, email, visit history\n2. Use 'Get many rows in Supabase Customers' → Find customer_id by phone\n3. Use 'Get many rows in Supabase Transactions' → Get purchase history\n4. Combine all data for personalized response\n\nRESPONSE STRATEGY:\nALWAYS: Use their real name, reference specific purchase history, mention current points, suggest products based on history, offer deals\nNEVER: Give generic responses, ignore purchase history, forget their name\n\nEXAMPLE RESPONSES:\nCustomer: \"What are my points?\"\n→ \"Hey Stephen! You have 600 points! You usually buy OG Kush and Blue Dream - we have fresh batches. Want me to set some aside?\"\n\nCustomer: \"What do you recommend?\"\n→ \"Based on your history, you love relaxing strains. Try Purple Punch or stick with OG Kush. Both help with sleep and stress. Want details?\"\n\nENHANCED PRODUCT KNOWLEDGE:\nUse 'Get many rows in Supabase Products' to search 11,515 products with Leafly data:\n- Effects: Relaxed, Euphoric, Creative, Energetic, Happy, Uplifted\n- Medical uses: Anxiety, Pain, Insomnia, Stress, Depression\n- Flavors: Pine, Citrus, Diesel, Berry, Earthy\n- Strain types: Indica, Sativa, Hybrid\n- Ratings & review counts from Leafly\n\nSEARCH EXAMPLES:\n- Relaxing strains: WHERE 'Relaxed' = ANY(effects) AND leafly_rating IS NOT NULL\n- Anxiety help: WHERE 'Anxiety' = ANY(helps_with) AND leafly_rating IS NOT NULL\n- OG Kush: WHERE strain ILIKE '%OG%Kush%' AND leafly_description IS NOT NULL\n\nPRIVACY:\n✅ Share everything about THEIR account\n✅ Reference their specific purchase history\n✅ Offer personalized deals\n❌ Never share OTHER customers' info\n\nREMEMBER: You're Luis - the owner who knows every customer personally. Use real data to show you remember them and care about their experience. Every response should feel personal and informed."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -1680,
          240
        ],
        "id": "e4bad3ff-82d1-4e85-a7f5-e24fec941910",
        "name": "MotaBot AI"
      },
      {
        "parameters": {
          "model": "google/gemini-2.5-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          -2048,
          464
        ],
        "id": "60c037f2-5eae-4336-bcfe-1f9bfb1489ba",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "daclOezIY0qSdW4Z",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $('Format Conversation Context').item.json.message_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
          "options": {}
        },
        "id": "8e2acbce-1dba-485a-b116-c04060468ad1",
        "name": "Mark as Read",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -944,
          144
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ phone_number: $('Format Conversation Context').item.json.phone_number, content: $json.output || $json.text || $json.response, status: 'queued', direction: 'outbound', timestamp: new Date().toISOString() }) }}",
          "options": {}
        },
        "id": "79146ef7-475a-4397-8481-b0b0bd8aa809",
        "name": "Queue Full Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -944,
          336
        ]
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "zZ2IrXHsmtrtqStH",
            "mode": "list",
            "cachedResultName": "Customers Data Points",
            "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
          }
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          -1920,
          464
        ],
        "id": "49c74058-d191-4295-82b6-6bf12c3536c6",
        "name": "Customers Data Points",
        "description": "Query customer information by phone number to get points balance, last visit location, and last budtender. Fields: First_Name, Last_Name, Phone, Total_Points, Last_dispensary, Last_budtender"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "IrckcDMtEMjxjb2Q",
            "mode": "list",
            "cachedResultName": "Budtenders Data Points",
            "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
          }
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          -1792,
          464
        ],
        "id": "3ea85f35-9e7e-4fe6-b0ca-03b2cf0cc953",
        "name": "Budtenders Data Points",
        "description": "Query budtender performance data including total sales attributed and performance tier. Useful for checking which budtenders are top performers"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "p3AV3VSdqNcawCbb",
            "mode": "list",
            "cachedResultName": "Budtenders DB 2025",
            "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
          }
        },
        "type": "n8n-nodes-base.dataTableTool",
        "typeVersion": 1,
        "position": [
          -1664,
          464
        ],
        "id": "2dac8458-7f60-4135-9526-51757f80d335",
        "name": "Budtenders DB 2025 Info",
        "description": "Query full budtender contact information including first_name, last_name, phone, email, store_name, and address. Use this for detailed budtender information"
      },
      {
        "parameters": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
          "subject": "MoTA Rewards Points Earned!",
          "emailType": "text",
          "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is an update for a rewards program the customer has joined, we are Mota, the customer has purchased our products and sent in a photo of the receipt. We want to make sure this doesn't get stuck in a spam filter so no emojis etc, act as Luis head of rewards program for Mota\n\nHello (customername) ! Great news!\n\nYou've earned MoTa Rewards points from your recent purchase at (Last_dispensary)\n\nMoTa Products Purchased:- Total MoTa spent: $XX- Mota Points earned: 65 points, your balance is XX Points, \nYour budtender (budtenders name here) helped you with this purchase. \nThanks for choosing MoTa! Luis - MoTa Rewards Team`, 'string') }}",
          "options": {
            "appendAttribution": false,
            "senderName": "Luis - MoTA Rewards"
          }
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          -1536,
          464
        ],
        "id": "7aa8b8da-9b31-4df5-97b0-55a6e293dc79",
        "name": "Gmail",
        "webhookId": "883b3d0b-7efa-4fdf-abba-f8e325970503",
        "credentials": {
          "gmailOAuth2": {
            "id": "BvZyBEwmYVeo2pxs",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "transactions"
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          -1408,
          464
        ],
        "id": "6ea7650f-f76f-4bb0-9be6-294411b19a1f",
        "name": "Get many rows in Supabase Transactions",
        "credentials": {
          "supabaseApi": {
            "id": "hwJ1to3Ot0D92Bo5",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "customers"
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          -1280,
          464
        ],
        "id": "123249ee-7d9f-448d-b1e8-4fd08f495e1d",
        "name": "Get many rows in Supabase Customers",
        "credentials": {
          "supabaseApi": {
            "id": "hwJ1to3Ot0D92Bo5",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "products",
          "limit": 50
        },
        "type": "n8n-nodes-base.supabaseTool",
        "typeVersion": 1,
        "position": [
          -1104,
          464
        ],
        "id": "2483b379-0bb1-41c5-8d93-bc285ba59977",
        "name": "Get many rows in Supabase Products",
        "description": "⭐ Search 11,515 products by NAME or STRAIN with Leafly data! Use ILIKE '%OG%' to find OG Kush (1,079 products), Blue Dream (969 products), etc. Filter by effects, medical uses, flavors, terpenes, ratings. ALWAYS include 'WHERE leafly_description IS NOT NULL' to get products with rich data!",
        "credentials": {
          "supabaseApi": {
            "id": "hwJ1to3Ot0D92Bo5",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.toolCalculator",
        "typeVersion": 1,
        "position": [
          -1024,
          464
        ],
        "id": "535c2fb6-01fa-446e-995a-d7567c9dec1d",
        "name": "Calculator"
      }
    ],
    "connections": {
      "Poll Every 30s": {
        "main": [
          [
            {
              "node": "Get Recent Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Recent Messages": {
        "main": [
          [
            {
              "node": "Filter Unread Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Unread Messages": {
        "main": [
          [
            {
              "node": "Prepare for AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare for AI": {
        "main": [
          [
            {
              "node": "Format Conversation Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Conversation Context": {
        "main": [
          [
            {
              "node": "MotaBot AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MotaBot AI": {
        "main": [
          [
            {
              "node": "Mark as Read",
              "type": "main",
              "index": 0
            },
            {
              "node": "Queue Full Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Customers Data Points": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Budtenders Data Points": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Budtenders DB 2025 Info": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows in Supabase Transactions": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows in Supabase Customers": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows in Supabase Products": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Calculator": {
        "ai_tool": [
          [
            {
              "node": "MotaBot AI",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
    }
  }