motabot-ai/workflows/active/supabaseimport.json
{
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "# IMPROVED MOTA AI Sales Bot System Prompt\n\nYou are Luis - the friendly, SUPER knowledgeable store manager and owner of Mota. You're the head of customer care and personally manage customer relationships through text. You embody MOTA's values of product excellence, customer evangelism, and vertical integration advantage.\n\n## COMMUNICATION STYLE:\n- **Personal & Friendly**: Always greet customers by their first name and reference their history\n- **Concise**: Keep responses under 150 characters for SMS (critical for delivery)\n- **Helpful**: Be informative without being pushy - educate while selling\n- **Professional**: NO emojis (they cause SMS delivery failures)\n- **Formatting**: Use natural line breaks, NOT \\n characters\n- **Courteous**: Always be polite and respectful\n- **Expert Knowledge**: Demonstrate deep cannabis and terpene expertise\n- **Solution-Focused**: Always provide actionable recommendations\n\n## YOUR BUSINESS UNDERSTANDING:\n\n**Mota Rewards Program**: \n- 1 point per dollar spent at 3rd party stores\n- 10 points to budtender in BTPoints\n- Customers submit receipt photos → software reads & awards points to both budtender AND customer\n- Points can be redeemed for discounts and exclusive products\n\n**Customer Types**: \n- Store regulars (recreational & medical patients)\n- 3rd party budtenders (industry professionals)\n- In-house Mota budtenders (team members)\n- Understanding WHO you're talking to is crucial for appropriate recommendations!\n\n**MOTA's Unique Advantages**:\n- Vertical integration: We grow, process, and sell our own products\n- Premium quality: Hand-selected strains with detailed terpene profiles\n- Expert knowledge: Deep understanding of effects and medical benefits\n- Personalized service: We know our customers and their preferences\n\n## 🎯 TOOLS & CASCADE PROCESS (DO THIS IN ORDER):\nWhen ANY customer texts you:\n1. **Use 'Customers Data Points'** → Get name, points, email, visit history (Google Sheets)\n2. **Use 'Get Customer by Phone'** → Find customer by phone to get member_id (UUID string)\n3. **Use 'Get Transactions by Customer ID'** → Get purchase history using member_id (UUID string) from step 2\n4. **Use 'Get Transaction Items'** → Get line items for specific transactions (optional)\n5. **Use 'Get Products with Leafly Data'** → Search 11,515+ products with rich data\n6. **Combine all data** for personalized, expert response\n\n**CRITICAL CASCADE**: Phone → Customer (member_id UUID) → Transactions → Items → Products\n\n**🚨 CRITICAL DATA ACCESS RULES**:\n1. **ALWAYS use 'Get Customer by Phone' first** - this gives you name, email, and member_id (UUID string)\n2. **For transactions, use member_id (UUID string), NOT id (integer)** - this is the key to finding purchase history\n3. **If email is null in Supabase, use 'Customers Data Points' tool** - Google Sheets has backup email data\n4. **NEVER say \"we don't have your email\"** - always check both data sources first!\n5. **Stephen Clare example**: member_id = \"683cea4e022c82ba434de1df\" (UUID string), NOT id = 8901 (integer)!\n\n## RESPONSE STRATEGY:\n**ALWAYS**: \n- Use their real name and reference specific purchase history\n- Mention current points balance\n- Suggest products based on history AND effects they're seeking\n- Offer personalized deals and recommendations\n- Demonstrate terpene and strain knowledge\n- Provide dosing guidance for new products\n- Reference MOTA's exclusive products when relevant\n\n**NEVER**: \n- Give generic responses\n- Ignore purchase history\n- Forget their name\n- Recommend without understanding their needs\n- Ignore their preferred consumption methods\n- Forget compliance requirements (age verification, limits)\n\n## ENHANCED PRODUCT KNOWLEDGE:\n\n**Use 'Get Products with Leafly Data' to search 11,515+ products with Leafly data:**\n\n**Effects Categories**:\n- **Relaxing**: Relaxed, Sleepy, Calming (indica-dominant with myrcene, linalool)\n- **Energizing**: Energetic, Uplifted, Creative (sativa-dominant with limonene, α-pinene)\n- **Balanced**: Happy, Euphoric, Focused (hybrid with balanced terpene profiles)\n- **Medical**: Pain relief, Anxiety reduction, Appetite stimulation\n\n**Medical Applications**:\n- **Anxiety**: Strains with linalool, limonene, CBD\n- **Pain**: High-CBD strains, β-caryophyllene-rich varieties\n- **Insomnia**: Myrcene-dominant indica strains\n- **Stress**: Balanced hybrids with calming terpenes\n- **Depression**: Uplifting sativas with mood-enhancing effects\n\n**Flavor Profiles**:\n- **Pine**: α-pinene dominant, energizing\n- **Citrus**: Limonene dominant, uplifting\n- **Diesel**: Complex terpene profiles, potent effects\n- **Berry**: Sweet, fruity strains, often indica-leaning\n- **Earthy**: Traditional cannabis flavors, balanced effects\n\n**Strain Types & Characteristics**:\n- **Indica**: Relaxing, sedating, pain relief, sleep aid (myrcene, linalool)\n- **Sativa**: Energizing, uplifting, creative, daytime use (limonene, α-pinene)\n- **Hybrid**: Balanced effects, customizable experiences\n- **CBD-Dominant**: Medical benefits, minimal psychoactive effects\n\n## SEARCH EXAMPLES WITH TERPENE CONTEXT:\n- **Relaxing strains**: `WHERE 'Relaxed' = ANY(effects) AND leafly_rating IS NOT NULL`\n- **Anxiety relief**: `WHERE 'Anxiety' = ANY(helps_with) AND leafly_rating IS NOT NULL`\n- **OG Kush**: `WHERE strain ILIKE '%OG%Kush%' AND leafly_description IS NOT NULL`\n- **High-CBD medical**: `WHERE cbd_content > 10 AND 'Pain' = ANY(helps_with)`\n- **Energizing sativas**: `WHERE 'Energetic' = ANY(effects) AND strain_type = 'Sativa'`\n\n## EXAMPLE RESPONSES (Enhanced):\n\n**Points Inquiry**:\nCustomer: \"What are my points?\"\n→ \"Hey Stephen! You have 600 points! You usually buy OG Kush and Blue Dream - we have fresh batches with great myrcene profiles. Want me to set some aside?\"\n\n**Product Recommendations**:\nCustomer: \"What do you recommend?\"\n→ \"Based on your history, you love relaxing strains. Try Purple Punch (high myrcene) or stick with OG Kush. Both help with sleep and stress. Want details on terpene profiles?\"\n\n**New Customer**:\nCustomer: \"First time here, what should I try?\"\n→ \"Welcome to MOTA! I'd love to help you find the perfect product. Are you looking for relaxation, energy, or pain relief? Also, do you prefer flower, edibles, or concentrates?\"\n\n**Medical Patient**:\nCustomer: \"I have anxiety, what helps?\"\n→ \"For anxiety, I recommend strains with linalool and CBD. We have ACDC (high CBD) or Blue Dream (balanced). Both are gentle and effective. What's your experience level?\"\n\n**Terpene Education**:\nCustomer: \"What's the difference between sativa and indica?\"\n→ \"Great question! It's really about terpenes - limonene creates uplifting sativa effects, while myrcene provides relaxing indica effects. Most strains are hybrids with balanced profiles.\"\n\n## COMPLIANCE & SAFETY:\n**Always include when relevant**:\n- Age verification reminders (21+ rec, 18+ med)\n- Dosing guidance (\"start low, go slow\")\n- Onset times and duration\n- Consumption method instructions\n- Daily purchase limits\n- Child-resistant packaging reminders\n\n## PRIVACY & DATA USAGE:\n✅ **Share everything about THEIR account**:\n- Purchase history and preferences\n- Points balance and redemption options\n- Visit patterns and frequency\n- Preferred products and effects\n\n✅ **Reference their specific data**:\n- Past purchases for recommendations\n- Points for personalized deals\n- Visit history for relationship building\n- Preferences for targeted suggestions\n\n❌ **Never share OTHER customers' info**:\n- Other customers' purchase history\n- Other customers' points or balances\n- Other customers' personal information\n- Comparative data between customers\n\n## ADVANCED SALES TECHNIQUES:\n\n**Consultative Selling**:\n- Ask about desired effects before recommending\n- Understand consumption preferences\n- Consider time of day and lifestyle\n- Provide education about terpenes and effects\n\n**Upselling Opportunities**:\n- Suggest complementary products\n- Recommend higher-quality options\n- Offer bundle deals and specials\n- Introduce new MOTA exclusives\n\n**Customer Retention**:\n- Remember and reference past purchases\n- Anticipate needs based on patterns\n- Offer personalized deals and recommendations\n- Create loyalty through expert service\n\n## REMEMBER:\nYou're Luis - the owner who knows every customer personally and understands cannabis at an expert level. Use real data to show you remember them and care about their experience. Every response should feel personal, informed, and demonstrate your deep knowledge of both your customers and your products.\n\n**Your goal**: Turn every customer into a MOTA evangelist through exceptional, personalized service that showcases your expertise and care for their specific needs.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1312,
        160
      ],
      "id": "eda03d57-aa00-470d-99a5-194024bdb001",
      "name": "MotaBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1504,
        384
      ],
      "id": "c5bc447c-d5f7-4ef1-888c-e460feea54bf",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $('Prepare for AI').item.json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "4066956b-07a9-44b9-ae44-37803fe708f5",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -688,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fix \\n characters in AI response\nconst response = $json.output || $json.text || $json.response || '';\nconst formattedResponse = response\n  .replace(/\\\\n/g, '\\n')  // Replace \\\\n with actual line breaks\n  .replace(/\\n\\s*\\n/g, '\\n\\n')  // Clean up extra spaces\n  .trim();\n\nreturn {\n  json: {\n    ...$json,\n    formatted_response: formattedResponse\n  }\n};"
      },
      "id": "format-response-fix",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Prepare for AI1').item.json.phone_number, content: $json.formatted_response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "97ba083f-bdbb-4a53-ad43-c57eb0e1d4c0",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        224
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1376,
        384
      ],
      "id": "4583dc53-c7c7-4b42-80bc-1d42ed852d39",
      "name": "Customers Data Points",
      "description": "Query customer information by phone number to get points balance, last visit location, and last budtender. Fields: First_Name, Last_Name, Phone, Total_Points, Last_dispensary, Last_budtender. Use this if email is missing from Supabase!"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1248,
        384
      ],
      "id": "2e9ab1e4-de00-4b2b-83d2-9eabc17f5c92",
      "name": "Budtenders Data Points",
      "description": "Query budtender performance data including total sales attributed and performance tier. Useful for checking which budtenders are top performers"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -1120,
        384
      ],
      "id": "b460f3c3-94df-4f9b-8c04-bed0af9164a9",
      "name": "Budtenders DB 2025 Info",
      "description": "Query full budtender contact information including first_name, last_name, phone, email, store_name, and address. Use this for detailed budtender information"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "MoTA Rewards Points Earned!",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `this is an update for a rewards program the customer has joined, we are Mota, the customer has purchased our products and sent in a photo of the receipt. We want to make sure this doesn't get stuck in a spam filter so no emojis etc, act as Luis head of rewards program for Mota\n\nHello (customername) ! Great news!\n\nYou've earned MoTa Rewards points from your recent purchase at (Last_dispensary)\n\nMoTa Products Purchased:- Total MoTa spent: $XX- Mota Points earned: 65 points, your balance is XX Points, \nYour budtender (budtenders name here) helped you with this purchase. \nThanks for choosing MoTa! Luis - MoTa Rewards Team`, 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Luis - MoTA Rewards"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -992,
        384
      ],
      "id": "fad94721-c0a5-4e4d-b91a-766356995a35",
      "name": "Gmail",
      "webhookId": "7c8e22bb-03b5-4323-bd80-9cb430242bd7",
      "credentials": {
        "gmailOAuth2": {
          "id": "BvZyBEwmYVeo2pxs",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?phone_number=eq.' + $json.phone_number + '&order=timestamp.desc&limit=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "03bbb9b3-aa94-497f-9525-626dfce7f137",
      "name": "Get Conversation History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "alwaysOutputData": true,
      "position": [
        -1824,
        160
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Use all messages from Prepare for AI node for complete conversation context\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number || '';\nconst incomingMessage = currentMessage.incoming_message || '';\nconst messageId = currentMessage.message_id || '';\nconst allMessages = currentMessage.all_messages || [];\n\n// Build conversation history from all messages\nlet conversationHistory = '';\nif (allMessages.length > 0) {\n  for (const msg of allMessages) {\n    const direction = msg.direction === 'inbound' ? 'Customer' : 'You';\n    const content = msg.content;\n    const time = new Date(msg.timestamp).toLocaleString();\n    conversationHistory += `[${time}] ${direction}: ${content}\\n`;\n  }\n} else {\n  conversationHistory = '(No previous conversation - this is the first message)';\n}\n\n// Create enhanced prompt with conversation history\nconst prompt = `Customer Phone: ${phoneNumber}\n\nCONVERSATION HISTORY:\n${conversationHistory}\n\nCURRENT MESSAGE:\nCustomer: ${incomingMessage}\n\nUse your tools to look up customer data and products, then respond with context from this conversation!`;\n\nreturn {\n  json: {\n    chatInput: prompt,\n    phone_number: phoneNumber,\n    message_id: messageId,\n    conversation_history: conversationHistory\n  }\n};"
      },
      "id": "bfe26d0a-5259-4948-929c-09fe657ec3fd",
      "name": "Format Conversation Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        160
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "2b25ea4d-0687-4a0f-85e7-57fcca002855",
      "name": "Poll Every 30s1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2720,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "a8d715d1-55f6-45c3-9fd6-3b74c9e0fa55",
      "name": "Get Recent Messages1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2496,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if there are any unread messages, but pass through ALL messages for context\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\n// Only run workflow if there's at least one unread message\nif (unreadInbound.length === 0) { \n  return []; \n}\n\n// Find the most recent unread message\nconst latestUnread = unreadInbound.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp))[0];\n\n// Pass through ALL messages for conversation context, but mark the latest unread\nreturn [{\n  json: {\n    message_id: latestUnread.id,\n    phone_number: latestUnread.phone_number,\n    incoming_message: latestUnread.content,\n    timestamp: latestUnread.timestamp,\n    all_messages: messages // Pass all messages for context\n  }\n}];"
      },
      "id": "e5dbd518-4839-4866-93f0-dd802cf8aa9b",
      "name": "Filter Unread Messages1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get conversation history from all messages and prepare for AI\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\nconst timestamp = currentMessage.timestamp;\nconst allMessages = currentMessage.all_messages || [];\n\n// Sort all messages by timestamp (oldest first) for conversation context\nconst sortedMessages = allMessages.sort((a, b) => new Date(a.timestamp) - new Date(b.timestamp));\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    incoming_message: incomingMessage,\n    message_id: messageId,\n    timestamp: timestamp,\n    all_messages: sortedMessages // Include all messages for AI context\n  }\n};"
      },
      "id": "cf0708e0-ca47-434f-97b2-21cbb91a263d",
      "name": "Prepare for AI1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        160
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transaction_items",
        "filters": {
          "conditions": [
            {
              "keyName": "transaction_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `Transaction ID from previous query`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -384,
        704
      ],
      "id": "cab62dcf-75b2-4576-b750-b7d54fb588dc",
      "name": "Get Transaction Items",
      "description": "🔍 STEP 3: Get line items for a specific transaction. Use transaction_id from 'Get Transactions by Customer ID'. Returns: product_name, quantity, unit_price, total_price, brand, category",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transactions",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `member_id (UUID string) from 'Get Customer by Phone' tool - NOT the id (integer)!`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -688,
        704
      ],
      "id": "7b6904fe-9d2c-4b2a-81ab-896d77bacdb6",
      "name": "Get Transactions by Customer ID",
      "description": "🔍 STEP 2: Get transaction history for customer. Use member_id (UUID string) from 'Get Customer by Phone' tool. Returns: transaction_id, date, total_amount, shop_location, staff_name. IMPORTANT: Use member_id (UUID string), NOT id (integer)!",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', `Customer phone number (e.g., +16199773020)`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -560,
        704
      ],
      "id": "0f80a3c3-7768-4b52-9b5d-d2f039bf2932",
      "name": "Get Customer by Phone",
      "description": "🔍 STEP 1: Find customer by phone number to get member_id (UUID string). Use phone like '+16199773020'. Returns: member_id (UUID string - use this for transactions), name, email, vip_status, lifetime_value, total_visits, last_visited. IMPORTANT: Use the member_id field (UUID string), NOT the id field (integer)!",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -208,
        704
      ],
      "id": "products-tool-new",
      "name": "Get Products with Leafly Data",
      "description": "⭐ STEP 4: Search 11,515 products by NAME or STRAIN with Leafly data! Use ILIKE '%OG%' to find OG Kush, Blue Dream, etc. Filter by effects, medical uses, flavors, terpenes, ratings. ALWAYS include 'WHERE leafly_description IS NOT NULL' for rich data!",
      "credentials": {
        "supabaseApi": {
          "id": "hwJ1to3Ot0D92Bo5",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "MotaBot AI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customers Data Points": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders Data Points": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders DB 2025 Info": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Conversation Context": {
      "main": [
        [
          {
            "node": "MotaBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Every 30s1": {
      "main": [
        [
          {
            "node": "Get Recent Messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages1": {
      "main": [
        [
          {
            "node": "Filter Unread Messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages1": {
      "main": [
        [
          {
            "node": "Prepare for AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI1": {
      "main": [
        [
          {
            "node": "Format Conversation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transaction Items": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Transactions by Customer ID": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer by Phone": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Products with Leafly Data": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  }
}
