project cleanup/archive/workflows/MarketSuite Salesbot v4.203 copy Aaron.json
{
  "name": "MarketSuite Salesbot v4.203 copy Aaron",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 MarketSuite Salesbot v4.203\n\n**NATURAL + POWERFUL STATS** - Keep the numbers, lose the jargon!\n\n### Messaging:\n- Feels personal and natural\n- 100% read rates (keep this!)\n- No '1:1' or technical terms\n- Natural language throughout",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1952,
        176
      ],
      "id": "60e0ffea-b5a8-4e31-a7cf-eb4418c5e0bf",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "55eef742-8c1d-4eab-9ae1-5762efa4e9e8",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1664,
        928
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "8214b77b-ae36-4c85-8d6e-8d1c0fca5f5d",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "53dde592-dafa-41c3-b7f1-b7c20cd5297b",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get conversation history from Supabase and prepare for AI\nconst currentMessage = $input.item.json;\nconst phoneNumber = currentMessage.phone_number;\nconst incomingMessage = currentMessage.incoming_message;\nconst messageId = currentMessage.message_id;\n\n// Fetch conversation history from Supabase\nconst supabaseUrl = 'https://kiwmwoqrguyrcpjytgte.supabase.co';\nconst supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0';\n\nconst url = `${supabaseUrl}/rest/v1/messages?select=*&phone_number=eq.${phoneNumber}&order=timestamp.desc`;\n\nlet history = [];\ntry {\n  const response = await fetch(url, {\n    method: 'GET',\n    headers: {\n      'apikey': supabaseKey,\n      'Authorization': `Bearer ${supabaseKey}`,\n      'Accept': 'application/json'\n    }\n  });\n  \n  if (response.ok) {\n    history = await response.json();\n  }\n} catch (error) {\n  console.log('Could not fetch conversation history:', error);\n}\n\n// Build conversation string\nlet conversation = 'CONVERSATION HISTORY:\\n\\n';\n\nif (history.length > 0) {\n  // Reverse to show oldest first\n  history.reverse().forEach(msg => {\n    const timestamp = new Date(msg.timestamp).toLocaleString();\n    const role = msg.direction === 'inbound' ? 'Customer' : 'You (MotaBot)';\n    conversation += `[${timestamp}] ${role}: ${msg.content}\\n\\n`;\n  });\n} else {\n  conversation += 'No previous conversation history.\\n\\n';\n}\n\nconversation += '\\nCURRENT MESSAGE (reply to this):\\n';\nconversation += `Customer: ${incomingMessage}\\n\\n`;\nconversation += `Phone Number: ${phoneNumber}`;\n\nreturn {\n  json: {\n    chatInput: conversation,\n    phone_number: phoneNumber,\n    message_id: messageId\n  }\n};"
      },
      "id": "1670a6e6-e0e8-4f6b-9c12-eb9ea1ca563d",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        928
      ]
    },
    {
      "parameters": {
        "tools": [
          {
            "node": "Customers Data Points"
          },
          {
            "node": "Budtenders Data Points"
          },
          {
            "node": "Budtenders DB 2025 Info"
          },
          {
            "node": "Gmail"
          }
        ],
        "options": {
          "systemMessage": "You are MotaBot - the friendly, personalized AI for Mota Rewards loyalty program.\n\nYou have CONVERSATION HISTORY showing past messages with this customer. Use it to have natural, flowing conversations.\n\nYour communication style:\n- Personal and friendly - greet them by first name!\n- Keep responses under 150 characters for SMS\n- Be natural and reference what was said before\n- Be helpful and informative without being pushy\n- DO NOT use emojis - they cause SMS delivery failures and message errors\n\nTOOLS YOU HAVE ACCESS TO:\n1. 'Customers Data Points' - Look up customer points, visits, dispensary info\n2. 'Budtenders Data Points' - Look up budtender performance data  \n3. 'Budtenders DB 2025 Info' - Look up budtender contact details\n4. 'Gmail' - Send emails to customers\n\nCOMMUNICATION CHANNELS:\nYou can respond via SMS (text message) or EMAIL, or BOTH depending on what the customer asks for.\n\nHOW TO USE TOOLS:\n1. When someone texts you → IMMEDIATELY use 'Customers Data Points' tool with their phone number\n2. Get their name, points, last visit info - everything!\n3. Greet them by first name and give them the info they need\n4. Be personal and show you know them\n\nWHEN TO USE EMAIL:\n- Customer asks to \"email me\" or \"send me an email\"\n- Customer wants detailed information that's too long for SMS\n- Customer asks for their email address (tell them AND offer to send email)\n- Customer wants a summary or receipt of something\n- Any request that would benefit from longer format\n\nHOW TO SEND EMAILS:\n1. Use 'Customers Data Points' tool to get their email address\n2. Use 'Gmail' tool to send email with:\n   - To: their email address from the data (REQUIRED)\n   - Subject: Something relevant like \"MOTA Rewards Update\" or \"Your Points Summary\"\n   - Message: The content they requested\n\nIMPORTANT: The Gmail tool requires the 'to' field to be filled with a valid email address. Always get this from the Customers Data Points tool first!\n\nWHAT YOU CAN SHARE WITH CUSTOMERS ABOUT THEMSELVES:\n✅ ALWAYS share with the customer:\n- Their first name (\"Hey Stephen!\")\n- Their points balance (\"You have 535 points\")\n- Their email if they ask\n- Their visit history\n- Where they went last\n- Who helped them (budtender names are fine when talking about THEIR visits)\n- How close to rewards\n- Everything about THEIR account\n\n❌ ONLY thing you CANNOT share:\n- OTHER people's information (don't mention other customers)\n\nIMPORTANT PRIVACY RULE:\nYou CAN share all info with the customer about THEIR OWN account. You CANNOT share info about OTHER customers.\n\nEXAMPLES:\n\nCustomer: \"What are my points?\"\nYou: Use 'Customers Data Points' → Get First_Name: \"Stephen\", Total_Points: 535\nRespond: \"Hey Stephen! You've got 535 points! 🎉 That's awesome!\"\n\nCustomer: \"Hi\"\nYou: Use 'Customers Data Points' → Get First_Name: \"Sarah\", Total_Points: 150\nRespond: \"Hey Sarah! 👋 You have 150 points! How can I help you today?\"\n\nCustomer: \"Email me my points summary\"\nYou: Use 'Customers Data Points' → Get First_Name: \"Stephen\", Total_Points: 535, Email: \"stephen@example.com\"\nThen: Use 'Gmail' → Send email to stephen@example.com with subject \"Your MOTA Rewards Points Summary\" and message about their 535 points\nRespond: \"Hey Stephen! I just sent your points summary to stephen@example.com! 📧\"\n\nCustomer: \"What's my email?\"\nYou: Use 'Customers Data Points' → Get Email: \"stephen@example.com\"\nRespond: \"Your email on file is stephen@example.com. Want me to send you something?\"\n\nCustomer: \"Send me an email about my account\"\nYou: Use 'Customers Data Points' → Get all their info\nThen: Use 'Gmail' → Send comprehensive account summary via email\nRespond: \"Hey [Name]! Just sent your account details to your email! 📧\"\n\nDO NOT say: 'Check your app' or 'Use the app' - we don't have an app\nDO say: 'Stop by Fire House Inc' or 'Ask Brooke W.' or specific real info\n\nIMPORTANT: ALWAYS use the tools FIRST to get their name and info. Personalize every response!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -688,
        640
      ],
      "id": "0711ef5c-dbc3-4700-95d4-ddfbc215cc48",
      "name": "MotaBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -848,
        1152
      ],
      "id": "9480f4c5-d157-43e5-8a48-93b76748855e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $('Prepare for AI').item.json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "9c9cd07f-ab6f-4b23-87e6-8326f0983169",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        816
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Prepare for AI').item.json.phone_number, content: $json.output || $json.text || $json.response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "3d6c450b-f844-4abd-8da9-dd201c54be81",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        976
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
          "mode": "list",
          "cachedResultName": "Mota Rewards Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CUSTOMERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        -96
      ],
      "id": "a238803d-7bcd-4743-bafa-d90949d9008d",
      "name": "Get Customer Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
          "mode": "list",
          "cachedResultName": "Mota Rewards Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 992947458,
          "mode": "list",
          "cachedResultName": "Budtenders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -880,
        80
      ],
      "id": "945cea93-f4d3-4835-a686-7013d39e1ba6",
      "name": "Get Budtenders Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1CpKXmzyNvH5KMiA0LxBkzuSIKOCeKFyeCR8ZKLlM0OE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 81697642,
          "mode": "list",
          "cachedResultName": "Budtenders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CpKXmzyNvH5KMiA0LxBkzuSIKOCeKFyeCR8ZKLlM0OE/edit#gid=81697642"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -864,
        304
      ],
      "id": "289cb8ba-65b8-4268-bdae-dfdb07843a2b",
      "name": "Get BUDTENDERS DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total_Sales_Attributed": "={{ $json.Total_Sales_Attributed }}",
            "Budtender_ID": "={{ $json.Budtender_ID }}",
            "First_Name": "={{ $json.First_Name }}",
            "Last_Name": "={{ $json.Last_Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Dispensary": "={{ $json.Dispensary }}",
            "NOTHING": "={{ $json.NOTHING }}",
            "Performance_Tier": "={{ $json.Performance_Tier }}",
            "Hire_Date": "={{ $json.Hire_Date }}"
          },
          "matchingColumns": ["Phone"],
          "schema": [
            {
              "id": "Budtender_ID",
              "displayName": "Budtender_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First_Name",
              "displayName": "First_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Name",
              "displayName": "Last_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Dispensary",
              "displayName": "Dispensary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NOTHING",
              "displayName": "NOTHING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Sales_Attributed",
              "displayName": "Total_Sales_Attributed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Performance_Tier",
              "displayName": "Performance_Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire_Date",
              "displayName": "Hire_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -640,
        96
      ],
      "id": "5cafe60c-e498-4386-b9b3-c9c502b3b328",
      "name": "Insert BUDTENDERS points"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total_Points": "={{ $json.Total_Points }}",
            "First_Name": "={{ $json.First_Name }}",
            "Last_Name": "={{ $json.Last_Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Last_dispensary": "={{ $json.Last_dispensary }}",
            "Last_budtender": "={{ $json.Last_budtender }}",
            "error": "={{ $json.error }}",
            "message": "={{ $json.message }}",
            "operation": "={{ $json.operation }}",
            "output": "={{ $json.output }}",
            "myNewField": "={{ $json.myNewField }}"
          },
          "matchingColumns": ["Phone"],
          "schema": [
            {
              "id": "First_Name",
              "displayName": "First_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Name",
              "displayName": "Last_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Points",
              "displayName": "Total_Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_dispensary",
              "displayName": "Last_dispensary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_budtender",
              "displayName": "Last_budtender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "myNewField",
              "displayName": "myNewField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -656,
        -96
      ],
      "id": "b797b30c-3f97-4c7f-9c64-0eca3aeb6b81",
      "name": "Insert CUSTOMERS Points"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "store_name": "={{ $json.store_name }}",
            "budtender_street": "={{ $json.budtender_street }}",
            "budtender_adress_line2": "={{ $json.budtender_address_line2 }}",
            "budtender_city": "={{ $json.budtender_city }}",
            "budtender_state": "={{ $json.budtender_state }}",
            "budtender_zip": "={{ $json.budtender_zip }}"
          },
          "matchingColumns": ["phone"],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "store_name",
              "displayName": "store_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_street",
              "displayName": "budtender_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_adress_line2",
              "displayName": "budtender_adress_line2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_city",
              "displayName": "budtender_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_state",
              "displayName": "budtender_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_zip",
              "displayName": "budtender_zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -672,
        288
      ],
      "id": "e2288f83-3ea8-40bc-8715-5e008b252ecd",
      "name": "Insert BUDTENDERS DB"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        16
      ],
      "id": "351eeeef-0ed3-4b96-811e-662bdb1eb158",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        },
        "options": {
          "where": {
            "conditions": [
              {
                "field": "Phone",
                "operator": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -624,
        864
      ],
      "id": "95d5d45b-99b7-4550-a917-c0bc903b9e47",
      "name": "Customers Data Points",
      "description": "Query customer information by phone number to get points balance, last visit location, and last budtender. Fields: First_Name, Last_Name, Phone, Total_Points, Last_dispensary, Last_budtender"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        },
        "options": {
          "where": {
            "conditions": [
              {
                "field": "First_Name",
                "operator": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Name', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -496,
        864
      ],
      "id": "e90a5802-71b0-4366-9fdb-a6cf997e332b",
      "name": "Budtenders Data Points",
      "description": "Query budtender performance data including total sales attributed and performance tier. Useful for checking which budtenders are top performers"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        },
        "options": {
          "where": {
            "conditions": [
              {
                "field": "phone",
                "operator": "equals",
                "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('phone', ``, 'string') }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        -336,
        880
      ],
      "id": "8db03d21-7cb3-4ed1-af5f-1355abc7bf5b",
      "name": "Budtenders DB 2025 Info",
      "description": "Query full budtender contact information including first_name, last_name, phone, email, store_name, and address. Use this for detailed budtender information"
    },
    {
      "parameters": {
        "credential": "gmail-account-2",
        "resource": "message",
        "operation": "send",
        "to": "={{ $fromAI('to', 'Recipient email address (required)', 'string') }}",
        "subject": "={{ $fromAI('subject', 'Email subject line', 'string') || 'MOTA Rewards Update' }}",
        "message": "={{ $fromAI('message', 'Email message content', 'string') }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Luis - MOTA Rewards"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -200,
        880
      ],
      "id": "gmail-send-tool",
      "name": "Gmail",
      "description": "Send emails to customers. Use this when customers ask to email them information, summaries, or detailed content that's too long for SMS."
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Rows": {
      "main": [
        [
          {
            "node": "Insert CUSTOMERS Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BUDTENDERS DB": {
      "main": [
        [
          {
            "node": "Insert BUDTENDERS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Budtenders Rows": {
      "main": [
        [
          {
            "node": "Insert BUDTENDERS points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Customer Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Budtenders Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get BUDTENDERS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MotaBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customers Data Points": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders Data Points": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders DB 2025 Info": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MotaBot AI": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63f30e3a-dc7a-47bb-8f38-ecddb4ba4363",
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "aRf0tTpIMGPYqbdb",
  "tags": []
}