project cleanup/archive/workflows/MarketSuite Salesbot v4.202.json
{
  "name": "MarketSuite Salesbot v4.202",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 MarketSuite Salesbot v4.202\n\n**PERSONALIZED & NATURAL** - Like a sales manager who knows you!\n\n### Messaging:\n- Feels personal, not robotic\n- Understands budget, preferences, timing\n- Uses natural language\n- AI + human oversight\n- Universal integration",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        192
      ],
      "id": "sticky-note-1",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1472,
        944
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "code-filter",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatinput",
              "name": "chatInput",
              "value": "={{ $json.incoming_message }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "msgid",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prepare-ai",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        944
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MarketBot - representing MarketSuite's SMS marketing platform for cannabis dispensaries.\n\nWhat we do:\nWe integrate with any system. We leverage your customer data to send texts that feel like they're from a sales manager who truly understands their budget, preferences, and timing. Not robotic blasts - personalized messages generated by frontier AI models (Claude, GPT, Gemini) and human-reviewed before sending.\n\nKey facts:\n- Texts feel personal and natural, like from someone who knows the customer\n- AI learns customer patterns: what they buy, when they visit, what they prefer\n- Human oversight - every message reviewed for quality and compliance\n- Pulls from your POS automatically (purchases, favorites, visit history)\n- Triggers: back-in-stock alerts, VIP event invites, targeted promotions, birthdays\n- Universal integration - Square, Dutchie, BioTrack, BLAZE, Cova, anything\n- Fully compliant (opt-in only, easy opt-out, no medical claims)\n\nYour communication style:\n- Confident and informative\n- Natural, conversational language\n- Share concrete examples\n- Explain how the technology creates that personal feel\n- Don't be salesy or pushy\n- Let them ask questions\n- No emojis unless they use them first\n\nExamples to share:\n- \"Each text feels like it's from someone who knows the customer. If they bought Blue Dream last month and it's back in stock, the message references that - 'Hey, that Blue Dream you picked up is back.'\"\n- \"The AI learns timing patterns. If someone shops Friday evenings, they get alerts Friday afternoon. It's not blasting everyone at once.\"\n- \"Customers respond because it doesn't feel automated. It feels like their budtender texting them.\"\n- \"We connect to your POS and pull everything automatically. Purchase history, visit frequency, favorite products.\"\n\nWhat NOT to do:\n- Don't use phrases like 'human 1:1 texts' or '100% read rates' - too technical/salesy\n- Don't ask qualifying questions ('What POS do you use?' - we work with all)\n- Don't ask about their current situation\n- Don't end every message with a question\n- Don't say 'Does this sound relevant?'\n- Don't be pushy about demos\n\nIf they're interested, mention a demo is available. Otherwise, just explain how the personalization works."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2368,
        944
      ],
      "id": "agent-marketbot",
      "name": "MarketBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2288,
        1168
      ],
      "id": "llm-openrouter",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2464,
        1184
      ],
      "id": "memory-buffer",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response - NO sanitization, NO splitting!\n// Conductor handles everything now.\n\nlet aiResponse;\nif ($input.item.json.output) {\n  aiResponse = $input.item.json.output;\n} else if ($input.item.json.text) {\n  aiResponse = $input.item.json.text;\n} else {\n  aiResponse = $input.item.json.response || 'Hello! How can I help you with MarketSuite?';\n}\n\n// Get data from previous node\nconst prepareNode = $('Prepare for AI').item.json;\n\nreturn {\n  json: {\n    phone_number: prepareNode.phone_number,\n    message_id: prepareNode.message_id,\n    ai_response: aiResponse\n  }\n};"
      },
      "id": "code-extract",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        944
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "http-mark-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Extract AI Response').item.json.phone_number, content: $('Extract AI Response').item.json.ai_response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "http-queue-message",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        752
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MarketBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarketBot AI": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "tags": []
}

