project cleanup/archive/workflows/MarketSuite Salesbot v4.102.json
{
  "name": "MarketSuite Salesbot v4.101",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 MarketSuite Salesbot v4.101\n\n**Purpose:** Persistent AI sales conversations for dispensary owners\n**Target:** Cannabis dispensaries seeking compliant SMS marketing\n**AI Persona:** MarketBot - Expert in cannabis compliance & SMS marketing\n\n**Key Features:**\n- Persistent conversation memory\n- Lead qualification & tracking\n- Compliance-focused messaging\n- POS integration capabilities\n- Event & inventory-based campaigns\n\n**Sales Flow:**\n1. Discovery → Pain points → Solution → Demo booking\n2. Focus on compliance, read rates, ROI\n3. Offer: AI-powered SMS system with human oversight",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -560
      ],
      "id": "e22198ef-5cca-4a15-a039-67d9ac2fee82",
      "name": "Salesbot Instructions"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "972c9c85-c9d8-4a67-bf35-2b461106dbf9",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1152,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "c4a909de-ee25-4b2f-87c4-09031f338b79",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Delay 375ms to preserve send order\nawait new Promise(r => setTimeout(r, 375));\nreturn $input.all();"
      },
      "id": "8c9d9965-f52a-420b-bd3f-1c935dc8af58",
      "name": "Delay 375ms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fixed filter for Supabase array response (aligned with v4.001)\nconsole.log('=== Filter Debug v4.101 ===');\n\nconst messages = $input.all().map(item => item.json);\n\nconst unreadInbound = messages.filter(msg => msg.direction === 'inbound' && msg.status === 'unread');\n\nif (unreadInbound.length === 0) {\n  return [];\n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp,\n    conversation_history: `[${new Date(msg.timestamp).toLocaleString()}] User: ${msg.content}`,\n    total_messages: 1,\n    conversation_start: msg.timestamp,\n    conversation_duration: 'New conversation'\n  }\n}));"
      },
      "id": "699b6873-e66c-45bd-8f4d-ad8950810309",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-message",
              "name": "chatInput",
              "value": "={{ $json.conversation_history }}\\n\\n[{{ $json.timestamp }}] Prospect: {{ $json.incoming_message }}\\n\\nConversation Stage: {{ $json.conversation_stage }}\\nMessage Count: {{ $json.message_count }}\\nIs New: {{ $json.is_new_conversation }}",
              "type": "string"
            },
            {
              "id": "phone-number",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "message-id",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            },
            {
              "id": "conversation-history",
              "name": "conversation_history",
              "value": "={{ $json.conversation_history }}",
              "type": "string"
            },
            {
              "id": "conversation-stage",
              "name": "conversation_stage",
              "value": "={{ $json.conversation_stage || 'discovery' }}",
              "type": "string"
            },
            {
              "id": "message-count",
              "name": "message_count",
              "value": "={{ $json.message_count }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "ee8ad8b1-406c-44f5-8a06-f8038a9cffcb",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        96
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MarketBot — a SALES AGENT for MarketSuite. Audience: dispensary owners/GMs/marketing leads. Your job is to generate interest and BOOK A DEMO for MarketSuite’s compliant, human‑sent 1:1 texting.\n\nPositioning (do not mention tools, hardware, or AI):\n- Most platforms now push link‑blasts that get ~30% reads.\n- MarketSuite delivers human‑sent, one‑to‑one texts customers actually open (near 100% reads).\n- Personalization uses the shop’s data (purchases, favorites, inventory, events). We work with any POS.\n- Only contact opted‑in adults; honor STOP; no medical claims.\n- Human‑in‑the‑loop is on OUR side: MarketSuite reviews/approves outbound to keep quality and compliance tight.\n\nObjectives (always drive toward the next step):\n1) Discovery: understand goals (drive visits, move inventory, VIP/events), current results, and pain (low engagement, generic blasts).\n2) Value: explain read‑rate + revenue impact of human‑sent, data‑driven texts.\n3) Qualification: role and timeline.\n4) Conversion: propose a quick demo; offer examples if asked.\n\nSMS Style:\n- SHORT and punchy (TARGET ≤160 chars; NEVER exceed 300).\n- One idea per message; end with a single question/CTA.\n- No emojis unless user uses them first. No links unless requested.\n\nTalking points (pick 1–2 per reply):\n- Human‑sent 1:1 gets opened; link‑blasts don’t.\n- Personalization from store data: back‑in‑stock, last‑purchase, VIP/event.\n- Compliance: opt‑in adults, respectful tone, easy opt‑out.\n- Outcomes: higher engagement, repeat visits, targeted promos.\n\nMicro‑templates (adapt to context, ≤160 chars):\n- “Most tools send link‑blasts (~30% reads). We send human 1:1 texts people open. Want a 15‑min demo?”\n- “What are you trying to boost—new visits, repeat buyers, or event turnout? We tailor 1:1 texts. Quick walkthrough?”\n- “Back‑in‑stock or VIP invites perform great with human 1:1 texts. Want examples?”\n\nDefault behavior: if unsure, ask about their goal (visits, inventory turns, events) and current read rates; always close with a clear CTA (e.g., “Book a 15‑min demo this week?”)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2048,
        96
      ],
      "id": "7e428b26-6b6b-44d3-8123-3846045c62cb",
      "name": "MarketBot AI Agent"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.7-sonnet:thinking",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2048,
        320
      ],
      "id": "8f071f15-cab0-494e-9e2c-3f281e73cf14",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response and prepare for SMS sending\nlet aiResponse;\nif ($input.item.json.output) {\n  aiResponse = $input.item.json.output;\n} else if ($input.item.json.text) {\n  aiResponse = $input.item.json.text;\n} else {\n  aiResponse = $input.item.json.response || 'Hello! How can I help you with your dispensary SMS marketing?';\n}\n\n// CRITICAL: Get message_id from 'Prepare for AI' node - AI agent doesn't preserve it\nconst prepareNode = $('Prepare for AI').item.json;\nconst phoneNumber = prepareNode.phone_number;\nconst messageId = prepareNode.message_id;\nconst conversationStage = prepareNode.conversation_stage;\n\n// Log for debugging\nconsole.log('=== MarketBot Response Debug ===');\nconsole.log('Phone:', phoneNumber);\nconsole.log('Message ID:', messageId, 'Type:', typeof messageId);\nconsole.log('Stage:', conversationStage);\nconsole.log('AI Response length:', aiResponse?.length);\n\nif (!messageId) {\n  throw new Error('Message ID is missing from Prepare for AI node!');\n}\n\n// Track lead qualification\nlet leadStatus = 'new';\nif (conversationStage === 'qualification') {\n  leadStatus = 'qualified';\n} else if (conversationStage === 'demo') {\n  leadStatus = 'demo_scheduled';\n}\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    message_id: messageId,\n    message: aiResponse,\n    original_message_id: messageId,\n    ai_full_response: aiResponse,\n    conversation_stage: conversationStage,\n    lead_status: leadStatus\n  }\n};"
      },
      "id": "1b29fc0a-536a-4618-a404-acd908ed4718",
      "name": "Prepare SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        96
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sanitize and produce ONE SMS <=150 chars to avoid doubles\nconst prepare = $('Prepare SMS Response').item.json;\nlet text = (prepare.message || '')\n  .replace(/[\\r\\n]+/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .replace(/[\\*_`~]/g, '')\n  .trim();\nconst limit = 150;\nif (text.length > limit) {\n  let idx = text.lastIndexOf(' ', limit);\n  if (idx === -1) idx = limit;\n  text = text.slice(0, idx).trim();\n}\nreturn [{ json: { phone_number: prepare.phone_number, content: text } }];"
      },
      "id": "fbb60b36-3ed2-4da7-a5e7-99f2d09756c4",
      "name": "Sanitize & Chunk SMS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $json.phone_number, content: $json.content, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "10c7a7f6-5087-4a91-9c47-55ecd796029d",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3296,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read', updated_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "953ea2e7-cfc2-42ef-8148-24cebec9c1e1",
      "name": "Mark Message as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2624,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Prepare SMS Response').item.json.phone_number, lead_status: $('Prepare SMS Response').item.json.lead_status, conversation_stage: $('Prepare SMS Response').item.json.conversation_stage, last_message: $('Prepare SMS Response').item.json.message, created_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "d733cebd-525f-4d92-8639-08305e93e9fe",
      "name": "Track Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2848,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MarketBot AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarketBot AI Agent": {
      "main": [
        [
          {
            "node": "Prepare SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MarketBot AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Response": {
      "main": [
        [
          {
            "node": "Mark Message as Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message as Read": {
      "main": [
        [
          {
            "node": "Sanitize & Chunk SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize & Chunk SMS": {
      "main": [
        [
          {
            "node": "Delay 375ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay 375ms": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9ab6136-eabf-45d1-a978-948f91453581",
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "YroDw1r05vXwVWSu",
  "tags": []
}