project cleanup/archive/workflows/MarketSuite Salesbot v4.200.json
{
  "name": "MarketSuite Salesbot v4.200",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 MarketSuite Salesbot v4.200\n\n**CLEAN & SIMPLE** - Conductor handles ALL message splitting!\n\n### What This Does:\n1. Poll Supabase for unread messages\n2. Filter for inbound/unread\n3. Send to AI agent\n4. Mark original as read\n5. Queue FULL AI response (no splitting!)\n6. Track lead\n\n### What Conductor Does:\n- Auto-sanitize (smart quotes → straight quotes)\n- Auto-split at word boundaries (150 char max)\n- Auto-delay between chunks (750ms)\n- Send all chunks in sequence\n\n**Result:** n8n is simple, Conductor is powerful!",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        192
      ],
      "id": "sticky-note-1",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1472,
        944
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "code-filter",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatinput",
              "name": "chatInput",
              "value": "={{ $json.incoming_message }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "msgid",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prepare-ai",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2144,
        944
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MarketBot - representing MarketSuite's SMS marketing platform for cannabis dispensaries.\n\nWhat we do:\n- Human-sent, 1:1 personalized texts (not link-blasts)\n- Near 100% read rates vs ~30% for generic campaigns\n- Pulls customer data from your POS - purchases, favorites, visit history\n- Triggers: back-in-stock, VIP events, targeted promos, birthdays\n- Works with any POS system\n- Fully compliant - opt-in only, easy opt-out, no medical claims\n\nYour style:\n- Confident and informative\n- Share what we do and how it works\n- Give examples and specifics\n- Natural, conversational tone\n- Let THEM ask questions - don't pepper them with \"Does this sound relevant?\" or \"Tell me about your current...\"\n- When appropriate, mention a demo is available\n- No emojis unless they use them first\n\nApproach:\n- Lead with value and specifics\n- Explain the technology and approach\n- Share examples of what works (e.g., \"We send a text when their favorite strain is back in stock\")\n- Be helpful, not pushy\n- If they show interest, offer a demo naturally\n\nAvoid:\n- Ending every message with a question\n- \"Does this sound relevant to you?\"\n- \"Tell me about your current situation\"\n- Over-qualifying or interrogating\n- Salesy closes on every response"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2368,
        944
      ],
      "id": "agent-marketbot",
      "name": "MarketBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2288,
        1168
      ],
      "id": "llm-openrouter",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2464,
        1184
      ],
      "id": "memory-buffer",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response - NO sanitization, NO splitting!\n// Conductor handles everything now.\n\nlet aiResponse;\nif ($input.item.json.output) {\n  aiResponse = $input.item.json.output;\n} else if ($input.item.json.text) {\n  aiResponse = $input.item.json.text;\n} else {\n  aiResponse = $input.item.json.response || 'Hello! How can I help you with MarketSuite?';\n}\n\n// Get data from previous node\nconst prepareNode = $('Prepare for AI').item.json;\n\nreturn {\n  json: {\n    phone_number: prepareNode.phone_number,\n    message_id: prepareNode.message_id,\n    ai_response: aiResponse\n  }\n};"
      },
      "id": "code-extract",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        944
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "http-mark-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Extract AI Response').item.json.phone_number, content: $('Extract AI Response').item.json.ai_response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "http-queue-message",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        752
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MarketBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MarketBot AI": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "tags": []
}

