project cleanup/archive/workflows/MarketSuite TestBot agent v1.3.json
{
  "name": "MarketSuite TestBot v1.3",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        112
      ],
      "id": "fa94068a-9ca6-4e2e-a482-4c1f752087fe"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Hello! I'm interested in improving my dispensary's SMS marketing."
            }
          ]
        },
        "options": {}
      },
      "name": "Test Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -608,
        112
      ],
      "id": "90884b4f-09a0-404b-90f9-15184cebff42"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}",
              "operation": "exists"
            }
          ]
        }
      },
      "name": "Check Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "fc7f1479-b599-43ea-90f2-ee64732c29f1"
    },
    {
      "parameters": {
        "functionCode": "// Get the response\nconst response = $input.item.json.choices[0].message.content;\n\n// Log it\nconsole.log(\"\\n=== MarketBot Response ===\\n\");\nconsole.log(response);\nconsole.log(\"\\n=== End Response ===\\n\");\nconsole.log(\"To continue: Edit the 'Test Message' node with your reply and run again\");\n\nreturn {json: {response}};"
      },
      "name": "Process Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b361f364-35f7-4572-91d7-ceed71e8cee7"
    },
    {
      "parameters": {
        "functionCode": "// Error handling\nconsole.log(\"Error: Could not get response from AI\");\nconsole.log($input.item.json);\n\nreturn {json: {error: \"Failed to get AI response\"}};"
      },
      "name": "Handle Error",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        208
      ],
      "id": "b06130ce-191b-4f5a-8879-9cac963a46fc"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        -80
      ],
      "id": "04187f62-2a19-4867-8895-ceec7fed3196",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -512,
        224
      ],
      "id": "bb56e61f-9dba-4164-b16f-c2acfcbbb46e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ToJIqxXt2y23vXOH",
          "name": "OpenRouter account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Test Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Check Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0094aec0-3531-48fe-89d5-bd7933a2911c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "XPaOUhn1yEiNDBAp",
  "tags": []
}