project cleanup/archive/workflows/MotaBot SMS v4.204.json
{
  "name": "MotaBot SMS v4.204",
  "nodes": [
    {
      "parameters": {
        "content": "## 🎯 MotaBot SMS v4.204\n\n**CUSTOMER DATA INTEGRATION** - Personalized responses with real data!\n\n### Features:\n1. Incoming SMS triggers lookup\n2. Phone number matched to customer database\n3. AI has access to:\n   - Points balance\n   - Last visit location\n   - Last budtender\n   - Purchase history\n4. Responds with personalized info\n\n### Data Tables:\n- Customers Data Points (points, phone, name)\n- Budtenders Data Points (sales, tier)\n- Budtenders DB 2025 (full contact info)",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        304
      ],
      "id": "sticky-note-1",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "trigger-poll",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1168,
        1056
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "code-filter",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1056
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatinput",
              "name": "chatInput",
              "value": "={{ $json.incoming_message }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "msgid",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            },
            {
              "id": "customer-context",
              "name": "customer_context",
              "value": "={{ $json.customer_info ? 'Customer: ' + $json.customer_info.First_Name + ' ' + $json.customer_info.Last_Name + ' | Points: ' + $json.customer_info.Total_Points + ' | Last visit: ' + $json.customer_info.Last_dispensary + ' with ' + $json.customer_info.Last_budtender : 'New customer - no account found' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prepare-ai",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        1056
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MotaBot - the customer service AI for Mota Rewards cannabis dispensary loyalty program.\n\n**Your Purpose:**\nHelp customers check their points balance, learn about rewards, and provide friendly dispensary assistance. You have direct access to customer data tables and can look up information by phone number.\n\n**Customer Data You Can Access:**\nYou have 3 data table tools connected:\n1. **Customers Data Points** - Use this to look up points balance, last visit info\n2. **Budtenders Data Points** - Use this to check budtender performance/info\n3. **Budtenders DB 2025 Info** - Full budtender contact details\n\n**How to Use the Tools:**\n- When someone texts asking about points, use the Customers Data Points tool\n- Search by their phone number (it's provided in the customer_context)\n- The tool can query the database - ask it to find records matching the phone number\n- If you find their account, tell them their balance and last visit info\n- If no account found, offer to help them sign up\n\n**Your Communication Style:**\n- Friendly and casual (dispensary vibe)\n- Use their first name if you have it\n- Be helpful and informative\n- Keep responses concise\n- Use emojis sparingly (😊 🌿 when appropriate)\n\n**Common Requests:**\n1. \"What's my points balance?\" → Look up their phone number in Customers Data Points\n2. \"Where did I visit last?\" → Check Last_dispensary field\n3. \"Who helped me?\" → Check Last_budtender field\n4. \"How do I earn points?\" → Explain the rewards program\n5. \"What can I redeem?\" → Describe rewards tiers\n\n**Example Response:**\n\"Hey Stephen! 👋 You've got 535 points in your account. Last time you visited Fire House Inc with Brooke W. You're doing great - keep racking up those points!\"\n\n**Important:**\n- ALWAYS try to use the data table tools when asked about account info\n- The customer_context field shows you basic info, but you can query for more details\n- If someone's phone isn't recognized, politely say so and offer to help set up an account\n- Be accurate with points - customers care about this!\n\n**What NOT to Do:**\n- Don't make up points balances\n- Don't promise rewards you're not sure about\n- Don't share other customers' information\n- Don't be overly salesy"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2288,
        1056
      ],
      "id": "agent-motabot",
      "name": "MotaBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2128,
        1280
      ],
      "id": "llm-openrouter",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response - NO sanitization, NO splitting!\n// Conductor handles everything now.\n\nlet aiResponse;\nif ($input.item.json.output) {\n  aiResponse = $input.item.json.output;\n} else if ($input.item.json.text) {\n  aiResponse = $input.item.json.text;\n} else {\n  aiResponse = $input.item.json.response || 'Hey there! How can I help you with your Mota Rewards account?';\n}\n\n// Get data from previous node\nconst prepareNode = $('Prepare for AI').item.json;\n\nreturn {\n  json: {\n    phone_number: prepareNode.phone_number,\n    message_id: prepareNode.message_id,\n    ai_response: aiResponse\n  }\n};"
      },
      "id": "code-extract",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        1056
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "http-mark-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        1056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Extract AI Response').item.json.phone_number, content: $('Extract AI Response').item.json.ai_response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "http-queue-message",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        864
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2352,
        1280
      ],
      "id": "tool-customers",
      "name": "Customers Data Points Tool",
      "description": "Query customer information including points balance, last visit location, and last budtender by phone number"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2480,
        1280
      ],
      "id": "tool-budtenders-points",
      "name": "Budtenders Data Points Tool",
      "description": "Query budtender performance data including sales attributed and performance tier"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2608,
        1280
      ],
      "id": "tool-budtenders-db",
      "name": "Budtenders DB 2025 Tool",
      "description": "Query full budtender contact information including name, phone, email, and dispensary location"
    },
    {
      "parameters": {
        "jsCode": "// Lookup customer in data\n// This creates a basic customer_info object that can be passed to AI\n\nconst phoneNumber = $json.phone_number;\n\n// Clean phone number (remove formatting)\nconst cleanPhone = phoneNumber.replace(/[^0-9]/g, '');\n\nconsole.log(`Looking up customer with phone: ${phoneNumber} (cleaned: ${cleanPhone})`);\n\n// In a real implementation, you'd query the data table here\n// For now, we'll create a placeholder that the AI tools will override\n\nreturn {\n  json: {\n    message_id: $json.message_id,\n    phone_number: $json.phone_number,\n    incoming_message: $json.incoming_message,\n    timestamp: $json.timestamp,\n    customer_info: null, // Will be populated by AI tool queries\n    phone_cleaned: cleanPhone\n  }\n};"
      },
      "id": "code-lookup",
      "name": "Lookup Customer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1056
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Lookup Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Customer": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MotaBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MotaBot AI": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customers Data Points Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders Data Points Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders DB 2025 Tool": {
      "ai_tool": [
        [
          {
            "node": "MotaBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "tags": []
}

