project cleanup/archive/workflows/MotaBot SMS v4.203 copy Aaron.json
{
  "name": "MarketSuite Salesbot v4.203 copy Aaron",
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 MarketSuite Salesbot v4.203\n\n**NATURAL + POWERFUL STATS** - Keep the numbers, lose the jargon!\n\n### Messaging:\n- Feels personal and natural\n- 100% read rates (keep this!)\n- No '1:1' or technical terms\n- Natural language throughout",
        "height": 500,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        304
      ],
      "id": "3475e7cb-cc2f-4d9a-92c5-2a34905951ff",
      "name": "Workflow Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "id": "d6e7c443-5ee0-4b04-af46-d2a14e6864b0",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1168,
        1056
      ]
    },
    {
      "parameters": {
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?select=*&order=timestamp.desc&limit=50",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "3c7418fb-cee1-41eb-8d18-d80b23567f29",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1392,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages only\nconst messages = $input.all().map(item => item.json);\nconst unreadInbound = messages.filter(msg => \n  msg.direction === 'inbound' && msg.status === 'unread'\n);\n\nif (unreadInbound.length === 0) { \n  return []; \n}\n\nreturn unreadInbound.map(msg => ({\n  json: {\n    message_id: msg.id,\n    phone_number: msg.phone_number,\n    incoming_message: msg.content,\n    timestamp: msg.timestamp\n  }\n}));"
      },
      "id": "8c260efd-7d86-46cc-91db-e9b62df912f2",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        1056
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chatinput",
              "name": "chatInput",
              "value": "={{ $json.incoming_message }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "msgid",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "0834dbb1-6ac9-4e79-ac02-da9ed261b8f3",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        1056
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are MotaBot - the customer service AI for Mota Rewards loyalty program.\n\nCRITICAL PRIVACY RULES - NEVER VIOLATE:\n- NEVER reveal customer names, personal details, or specific account information\n- NEVER mention specific dispensary names or budtender names in responses\n- NEVER share exact points balances or purchase history\n- Keep responses generic and helpful without exposing private data\n- If asked about points, say 'You have points available to redeem!' not 'You have 535 points'\n- If asked about visits, say 'You're an active member!' not 'You visited Fire House Inc'\n- If asked about budtenders, say 'Our team helped you' not 'Brooke W. helped you'\n- Focus on helping with rewards program benefits, not revealing personal details\n\nYour role:\n- Help customers understand Mota Rewards benefits\n- Provide general information about the loyalty program\n- Assist with account questions without revealing private data\n- Be friendly, helpful, and professional\n- Keep all responses under 150 characters for SMS\n- Use the data tools to look up information but summarize it generically\n\nExample responses:\n- 'You have points available to redeem!' (not specific numbers)\n- 'You're a valued member with great rewards!' (not specific details)\n- 'I can help you with your rewards account' (not revealing personal info)\n- 'Check your app for current points!' (not giving exact balance)\n\nData access: Use tools to look up customer info but only reference it generically in responses."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2144,
        768
      ],
      "id": "bc62e809-6000-4801-a7ba-1216a4063d02",
      "name": "MarketBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1984,
        1280
      ],
      "id": "b3bb8103-a023-4d4f-b932-e8ef9103ae46",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response - NO sanitization, NO splitting!\n// Conductor handles everything now.\n\nlet aiResponse;\nif ($input.item.json.output) {\n  aiResponse = $input.item.json.output;\n} else if ($input.item.json.text) {\n  aiResponse = $input.item.json.text;\n} else {\n  aiResponse = $input.item.json.response || 'Hello! How can I help you with MarketSuite?';\n}\n\n// Get data from previous node\nconst prepareNode = $('Prepare for AI').item.json;\n\nreturn {\n  json: {\n    phone_number: prepareNode.phone_number,\n    message_id: prepareNode.message_id,\n    ai_response: aiResponse\n  }\n};"
      },
      "id": "21649cfc-bd90-4f04-984a-dca1fa4fd8b6",
      "name": "Extract AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        944
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages?id=eq.' + $json.message_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'read' }) }}",
        "options": {}
      },
      "id": "7e8c396d-35c8-4795-b426-da2b2b59cd41",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $('Extract AI Response').item.json.phone_number, content: $('Extract AI Response').item.json.ai_response, status: 'queued', direction: 'outbound' }) }}",
        "options": {}
      },
      "id": "ed21a69b-cab7-465c-8e29-9b6829568473",
      "name": "Queue Full Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        1104
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
          "mode": "list",
          "cachedResultName": "Mota Rewards Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "CUSTOMERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        32
      ],
      "id": "38d41d4c-a377-4619-ba54-55e0b7fa2b13",
      "name": "Get Customer Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM",
          "mode": "list",
          "cachedResultName": "Mota Rewards Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 992947458,
          "mode": "list",
          "cachedResultName": "Budtenders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kqALfqsggTnT7upTXsI-cUVU9jYrhFyJ-uCdK4sYmTM/edit#gid=992947458"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1952,
        208
      ],
      "id": "6799ece9-4dd8-45bd-a439-f9bdebcb73a8",
      "name": "Get Budtenders Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1CpKXmzyNvH5KMiA0LxBkzuSIKOCeKFyeCR8ZKLlM0OE",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 81697642,
          "mode": "list",
          "cachedResultName": "Budtenders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CpKXmzyNvH5KMiA0LxBkzuSIKOCeKFyeCR8ZKLlM0OE/edit#gid=81697642"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1968,
        432
      ],
      "id": "992d1681-cb76-42aa-bd63-d689ba1401af",
      "name": "Get BUDTENDERS DB",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LSu2bHJie7HlsZRT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total_Sales_Attributed": "={{ $json.Total_Sales_Attributed }}",
            "Budtender_ID": "={{ $json.Budtender_ID }}",
            "First_Name": "={{ $json.First_Name }}",
            "Last_Name": "={{ $json.Last_Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Dispensary": "={{ $json.Dispensary }}",
            "NOTHING": "={{ $json.NOTHING }}",
            "Performance_Tier": "={{ $json.Performance_Tier }}",
            "Hire_Date": "={{ $json.Hire_Date }}"
          },
          "matchingColumns": ["Phone"],
          "schema": [
            {
              "id": "Budtender_ID",
              "displayName": "Budtender_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First_Name",
              "displayName": "First_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Name",
              "displayName": "Last_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Dispensary",
              "displayName": "Dispensary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NOTHING",
              "displayName": "NOTHING",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Sales_Attributed",
              "displayName": "Total_Sales_Attributed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Performance_Tier",
              "displayName": "Performance_Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hire_Date",
              "displayName": "Hire_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2192,
        224
      ],
      "id": "73537c31-6f20-4e2a-8303-37292b9cf21d",
      "name": "Insert BUDTENDERS points"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Total_Points": "={{ $json.Total_Points }}",
            "First_Name": "={{ $json.First_Name }}",
            "Last_Name": "={{ $json.Last_Name }}",
            "Email": "={{ $json.Email }}",
            "Phone": "={{ $json.Phone }}",
            "Last_dispensary": "={{ $json.Last_dispensary }}",
            "Last_budtender": "={{ $json.Last_budtender }}",
            "error": "={{ $json.error }}",
            "message": "={{ $json.message }}",
            "operation": "={{ $json.operation }}",
            "output": "={{ $json.output }}",
            "myNewField": "={{ $json.myNewField }}"
          },
          "matchingColumns": ["Phone"],
          "schema": [
            {
              "id": "First_Name",
              "displayName": "First_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_Name",
              "displayName": "Last_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Total_Points",
              "displayName": "Total_Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_dispensary",
              "displayName": "Last_dispensary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last_budtender",
              "displayName": "Last_budtender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "myNewField",
              "displayName": "myNewField",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2176,
        32
      ],
      "id": "fc933813-f054-448e-b183-cfd3208495ef",
      "name": "Insert CUSTOMERS Points"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "first_name": "={{ $json.first_name }}",
            "last_name": "={{ $json.last_name }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "store_name": "={{ $json.store_name }}",
            "budtender_street": "={{ $json.budtender_street }}",
            "budtender_adress_line2": "={{ $json.budtender_address_line2 }}",
            "budtender_city": "={{ $json.budtender_city }}",
            "budtender_state": "={{ $json.budtender_state }}",
            "budtender_zip": "={{ $json.budtender_zip }}"
          },
          "matchingColumns": ["phone"],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "store_name",
              "displayName": "store_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_street",
              "displayName": "budtender_street",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_adress_line2",
              "displayName": "budtender_adress_line2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_city",
              "displayName": "budtender_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_state",
              "displayName": "budtender_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "budtender_zip",
              "displayName": "budtender_zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2160,
        416
      ],
      "id": "7002d0cd-72eb-406e-93a4-d69af1d4cf0f",
      "name": "Insert BUDTENDERS DB"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1632,
        144
      ],
      "id": "d27e6132-60b3-4451-9d0d-bb19275917df",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zZ2IrXHsmtrtqStH",
          "mode": "list",
          "cachedResultName": "Customers Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/zZ2IrXHsmtrtqStH"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2208,
        992
      ],
      "id": "dd8bc3d5-ee44-4d1a-a4bb-6fec7fe6e064",
      "name": "Customers Data Points"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "IrckcDMtEMjxjb2Q",
          "mode": "list",
          "cachedResultName": "Budtenders Data Points",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/IrckcDMtEMjxjb2Q"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2336,
        992
      ],
      "id": "22a23806-d01e-4b10-8248-5dc087e3b34d",
      "name": "Budtenders Data Points"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "p3AV3VSdqNcawCbb",
          "mode": "list",
          "cachedResultName": "Budtenders DB 2025",
          "cachedResultUrl": "/projects/U8qx0mgq0lyFAfZg/datatables/p3AV3VSdqNcawCbb"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        2496,
        1008
      ],
      "id": "689727fd-2800-4827-af7e-ff63a0da5b88",
      "name": "Budtenders DB 2025 Info"
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "MarketBot AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MarketBot AI": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Mark as Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Queue Full Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Rows": {
      "main": [
        [
          {
            "node": "Insert CUSTOMERS Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get BUDTENDERS DB": {
      "main": [
        [
          {
            "node": "Insert BUDTENDERS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Budtenders Rows": {
      "main": [
        [
          {
            "node": "Insert BUDTENDERS points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Customer Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Budtenders Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get BUDTENDERS DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customers Data Points": {
      "ai_tool": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders Data Points": {
      "ai_tool": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Budtenders DB 2025 Info": {
      "ai_tool": [
        [
          {
            "node": "MarketBot AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd931a3b-95fb-45fc-a9f7-0e34fb88784f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "1txaa83UJA1dTxNN",
  "tags": []
}