project cleanup/archive/workflows/SMSCRM v3.5 static chat.json
{
  "name": "SMSCRM v3.5 static chat",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧪 SMS AI Testing (Static Chat)\n\n**Purpose:**\n- Test AI responses without sending real SMS\n- Perfect for development and tuning\n- Great for remote collaboration (Spain team!)\n\n**How to use:**\n1. Click 'Test Input (Edit Me!)' node\n2. Change the message text\n3. Click 'Execute workflow'\n4. See AI response in output!\n\n**No SMS sent** - just pure AI testing",
        "height": 460,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -304
      ],
      "id": "69db99dd-6815-4ba5-a501-028dbe1d5979",
      "name": "AI SMS Instructions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ai-response",
              "name": "AI_Response",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "phone",
              "name": "Phone_Number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "response-length",
              "name": "Response_Length",
              "value": "={{ $json.message.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "display-response-node",
      "name": "Display AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        368
      ]
    },
    {
      "parameters": {
        "content": "## 🧠 AI Auto-Reply System\n\nPolls every 1 minute\nAI generates smart responses\nHandles jokes, questions, commands",
        "height": 300,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        240
      ],
      "id": "bf1508a4-158d-44fc-a237-48f2be81369a",
      "name": "AI Info"
    },
    {
      "parameters": {},
      "id": "manual-test-trigger",
      "name": "Manual Test Chat",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "test-message",
              "name": "incoming_message",
              "value": "tell me a joke",
              "type": "string"
            },
            {
              "id": "test-phone",
              "name": "phone_number",
              "value": "+16199773020",
              "type": "string"
            },
            {
              "id": "test-history",
              "name": "conversation_history",
              "value": "[Previous conversation]\nUser: hello\nAI: Hey! How can I help?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "test-input-node",
      "name": "Test Input (Edit Me!)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -624,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "user-message",
              "name": "chatInput",
              "value": "={{ $json.conversation_history }}\\n\\nUser: {{ $json.incoming_message }}",
              "type": "string"
            },
            {
              "id": "phone-number",
              "name": "phone_number",
              "value": "={{ $json.phone_number }}",
              "type": "string"
            },
            {
              "id": "message-id",
              "name": "message_id",
              "value": 999,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "eb8df4fb-273b-4443-8ca7-8fab47204879",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        368
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a friendly AI assistant that communicates via SMS text messages.\n\n**CRITICAL: SMS CONSTRAINTS**\n- Keep responses SHORT (1-2 sentences max)\n- This is SMS - people expect brief, quick replies\n- Get straight to the point immediately\n- Save detailed explanations for when explicitly asked\n\n**Your Capabilities:**\n- Answer questions briefly and helpfully\n- Tell jokes when asked\n- Be conversational and natural\n- Remember conversation context\n\n**Communication Style:**\n- Be friendly but CONCISE\n- Use simple, clear language\n- No emojis unless user uses them first\n- Maximum 160 characters when possible\n- If you must go longer, keep it under 300 characters\n\n**Example Interactions:**\n- \"tell me a joke\" → One short joke, that's it\n- \"what's the weather?\" → \"I can't check weather, but you can try your weather app!\"\n- \"hello\" → \"Hey! How can I help?\"\n- Complex topics → Give a brief answer, then ask \"Want more details?\"\n\n**CRITICAL RULES:**\n- BREVITY IS KEY - this is SMS, not email\n- One idea per message\n- If your response is longer than 2 sentences, it's TOO LONG\n- The system splits long messages but they're annoying - KEEP IT SHORT!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        48,
        368
      ],
      "id": "a7991229-7824-484f-b931-64427858850f",
      "name": "SMS AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response and prepare for SMS sending\nlet aiResponse;\nif ($input.item.json.output) {\n  aiResponse = $input.item.json.output;\n} else if ($input.item.json.text) {\n  aiResponse = $input.item.json.text;\n} else {\n  aiResponse = $input.item.json.response || 'Hello! How can I help you?';\n}\n\n// CRITICAL: Get message_id from 'Prepare for AI' node - AI agent doesn't preserve it\nconst prepareNode = $('Prepare for AI').item.json;\nconst phoneNumber = prepareNode.phone_number;\nconst messageId = prepareNode.message_id;\n\n// Log for debugging\nconsole.log('=== Prepare SMS Response Debug ===');\nconsole.log('Phone:', phoneNumber);\nconsole.log('Message ID:', messageId, 'Type:', typeof messageId);\nconsole.log('AI Response length:', aiResponse?.length);\n\nif (!messageId) {\n  throw new Error('Message ID is missing from Prepare for AI node!');\n}\n\nreturn {\n  json: {\n    phone_number: phoneNumber,\n    message_id: messageId,\n    message: aiResponse,\n    original_message_id: messageId,\n    ai_full_response: aiResponse\n  }\n};"
      },
      "id": "53cbecef-1e5f-49ff-9cef-14ca1564e905",
      "name": "Prepare SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        368
      ]
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -48,
        704
      ],
      "id": "96f881e5-77c1-4e7a-9d0e-25f66e4ff463",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Test Chat": {
      "main": [
        [
          {
            "node": "Test Input (Edit Me!)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Input (Edit Me!)": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "SMS AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS AI Agent": {
      "main": [
        [
          {
            "node": "Prepare SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Response": {
      "main": [
        [
          {
            "node": "Display AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SMS AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "832ee163-1643-4f02-ab65-a54a77fe2fd9",
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  },
  "id": "x2hcpRrxjYNP1q65",
  "tags": []
}