project cleanup/archive/workflows/SMSCRM_v4.110_SIMPLE_AI.json
{
  "name": "SMSCRM v4.110",
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 AI-Powered SMS System v4.110\n\n**Fixed:**\n- ✅ Correct API response parsing\n- ✅ Access messages array properly\n- ✅ Filter unread inbound messages\n- ✅ Simple AI API configuration\n- ✅ Same structure as v3.5\n\n**Setup:**\n1. Cloudflare Tunnel: smsn8n.marketsuite.co ✅ LIVE\n2. URL: https://smsn8n.marketsuite.co\n3. Activate workflow for auto-responses\n4. AI keeps responses SHORT (SMS-optimized)\n\n**How it works:**\n- Polls every 1 minute\n- Only responds to NEW inbound messages\n- Correctly parses API response\n- AI generates SHORT, contextual replies",
        "height": 460,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        -304
      ],
      "id": "2b5ed39b-8509-4f1a-b457-adc2e24321f2",
      "name": "AI SMS Instructions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsn8n.marketsuite.co/api/messages/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone_number: $json.phone_number, message: $json.message }) }}",
        "options": {}
      },
      "id": "18476ca1-c99e-46b0-8233-c4c4ffabb966",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        144
      ]
    },
    {
      "parameters": {
        "content": "## 🧠 AI Auto-Reply System\n\nPolls every 1 minute\nAI generates smart responses\nHandles jokes, questions, commands",
        "height": 300,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        240
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "AI System Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Poll Every 1m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        144
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/recent?limit=100",
        "options": {}
      },
      "id": "get-recent-sms",
      "name": "Get Recent SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract messages from API response and filter for unread inbound\nconst apiResponse = $input.first().json;\nconst messages = apiResponse.messages || [];\n\nconst unreadMessages = [];\n\nfor (const message of messages) {\n  if (message.direction === 'inbound' && message.status === 'unread') {\n    unreadMessages.push(message);\n  }\n}\n\n// Return each unread message as a separate item\nreturn unreadMessages.map(msg => ({ json: msg }));"
      },
      "id": "filter-unread-messages",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a helpful SMS AI assistant. Keep responses SHORT (under 160 chars). Be friendly and helpful.\\n\\nRespond to this message: {{ $json.content }}\"\n    }\n  ],\n  \"max_tokens\": 150,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "call-ai-api",
      "name": "Call AI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response and preserve message data\nconst aiResponse = $input.first().json.choices[0].message.content;\nconst originalMessage = $('Filter Unread Messages').first().json;\n\nreturn {\n  json: {\n    message_id: originalMessage.id,\n    phone_number: originalMessage.phone_number,\n    message: aiResponse.trim(),\n    original_message: originalMessage.content\n  }\n};"
      },
      "id": "prepare-sms-response",
      "name": "Prepare SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsn8n.marketsuite.co/api/messages/{{ $json.message_id }}/mark-read",
        "options": {}
      },
      "id": "mark-message-read",
      "name": "Mark Message Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get phone number and message from Prepare SMS Response\nconst responseData = $('Prepare SMS Response').first().json;\n\nreturn {\n  json: {\n    phone_number: responseData.phone_number,\n    message: responseData.message\n  }\n};"
      },
      "id": "restore-data-for-send",
      "name": "Restore Data for Send",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        344
      ]
    }
  ],
  "connections": {
    "Poll Every 1m": {
      "main": [
        [
          {
            "node": "Get Recent SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent SMS": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Call AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI API": {
      "main": [
        [
          {
            "node": "Prepare SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Response": {
      "main": [
        [
          {
            "node": "Mark Message Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message Read": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Data for Send": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-07T05:54:00.000Z",
  "versionId": "1"
}
