project cleanup/archive/workflows/SMSCRM_v4.112_FIXED_DATA_FLOW.json
{
  "name": "SMSCRM v4.112 FIXED DATA FLOW",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "poll-trigger",
      "name": "Poll Every 1m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/recent?limit=100",
        "options": {}
      },
      "id": "get-messages",
      "name": "Get Recent SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract messages from API response and filter for unread inbound\nconst apiResponse = $input.first().json;\nconst messages = apiResponse.messages || [];\n\nconst unreadMessages = [];\n\nfor (const message of messages) {\n  if (message.direction === 'inbound' && message.status === 'unread') {\n    unreadMessages.push(message);\n  }\n}\n\n// Return each unread message as a separate item\nreturn unreadMessages.map(msg => ({ json: msg }));"
      },
      "id": "filter-unread",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.openAiApi.apiKey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a helpful SMS AI assistant. Keep responses SHORT (under 160 chars). Be friendly and helpful.\\n\\nRespond to this message: {{ $json.content }}\"\n    }\n  ],\n  \"max_tokens\": 150,\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "call-ai",
      "name": "Call AI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response and preserve original message data\nconst aiResponse = $input.first().json;\nconst originalMessage = $('Filter Unread Messages').first().json;\n\n// Get the AI's response text\nconst aiMessage = aiResponse.choices?.[0]?.message?.content || 'Sorry, I could not generate a response.';\n\n// Return data with both original message info and AI response\nreturn {\n  json: {\n    phone_number: originalMessage.phone_number,\n    message: aiMessage,\n    original_message_id: originalMessage.id,\n    original_content: originalMessage.content\n  }\n};"
      },
      "id": "prepare-response",
      "name": "Prepare SMS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://smsn8n.marketsuite.co/api/messages/' + $json.original_message_id + '/mark-read' }}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "id": "mark-read",
      "name": "Mark Message Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/send",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"phone_number\": \"{{ $json.phone_number }}\",\n  \"message\": \"{{ $json.message }}\"\n}",
        "options": {}
      },
      "id": "send-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Poll Every 1m": {
      "main": [
        [
          {
            "node": "Get Recent SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent SMS": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Call AI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AI API": {
      "main": [
        [
          {
            "node": "Prepare SMS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare SMS Response": {
      "main": [
        [
          {
            "node": "Mark Message Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message Read": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T23:27:00.000Z",
  "versionId": "1"
}
