project cleanup/archive/workflows/SMSCRM_v3.7_ULTRA_SIMPLE.json
{
  "name": "SMSCRM v3.7 - Ultra Simple",
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 SMS AI System v3.7 - Ultra Simple\n\n**What's Fixed:**\n- ✅ Correct URL construction for mark-read\n- ✅ Simple, reliable flow\n- ✅ No complex expressions\n- ✅ Easy to debug\n\n**How it works:**\n- Polls every 30 seconds\n- Gets recent messages\n- Filters for unread inbound\n- AI responds\n- Marks as read\n- Sends reply",
        "height": 500,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1000,
        -200
      ],
      "id": "workflow-info",
      "name": "Workflow Information"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "poll-trigger",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/recent?limit=50",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages\nconst messages = $input.all();\nconst unreadMessages = [];\n\nfor (const message of messages) {\n  if (message.json.direction === 'inbound' && message.json.status === 'unread') {\n    unreadMessages.push(message.json);\n  }\n}\n\nreturn unreadMessages.map(msg => ({ json: msg }));"
      },
      "id": "filter-unread",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "chatInput",
              "value": "You are a helpful SMS AI assistant. Keep responses SHORT (under 160 chars). Be friendly and helpful.\n\nRecent conversation:\n{{ $json.content }}\n\nRespond to this message:"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-ai",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful SMS AI assistant. Keep responses SHORT (under 160 chars). Be friendly and helpful."
        }
      },
      "id": "ai-agent",
      "name": "SMS AI Agent",
      "type": "n8n-nodes-base.langChainAgent",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.7,
          "maxTokens": 200
        }
      },
      "id": "gemini-model",
      "name": "Gemini 2.0 Flash",
      "type": "n8n-nodes-base.lmChatGemini",
      "typeVersion": 1,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response and preserve message data\nconst aiResponse = $input.first().json.output;\nconst originalMessage = $('Filter Unread Messages').first().json;\n\nreturn {\n  json: {\n    message_id: originalMessage.id,\n    phone_number: originalMessage.phone_number,\n    message: aiResponse,\n    original_message: originalMessage.content\n  }\n};"
      },
      "id": "process-response",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsn8n.marketsuite.co/api/messages/{{ $json.message_id }}/mark-read",
        "options": {
          "timeout": 5000
        }
      },
      "id": "mark-read",
      "name": "Mark Message Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsn8n.marketsuite.co/api/messages/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ]
    }
  ],
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "SMS AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS AI Agent": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.0 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "SMS AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Mark Message Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message Read": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-07T05:50:00.000Z",
  "versionId": "1"
}
