project cleanup/archive/workflows/SMSCRM_v4.104_TEST_FILTER.json
{
  "name": "SMSCRM v4.104 - Test Filter",
  "nodes": [
    {
      "parameters": {
        "content": "## 🧪 Test Filter v4.104\n\n**Purpose:**\n- ✅ Test simple filter logic\n- ✅ Debug unread message detection\n- ✅ No AI, just filter test\n\n**How it works:**\n- Polls every 30 seconds\n- Gets recent messages\n- Filters unread inbound\n- Logs results",
        "height": 400,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -200
      ],
      "id": "test-info",
      "name": "Test Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "test-trigger",
      "name": "Test Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/recent?limit=50",
        "options": {}
      },
      "id": "get-messages",
      "name": "Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple filter for unread inbound messages\nconst messages = $input.all();\nconst unreadMessages = [];\n\nconsole.log('Total messages received:', messages.length);\n\nfor (const message of messages) {\n  console.log('Message:', message.json.id, message.json.direction, message.json.status);\n  if (message.json.direction === 'inbound' && message.json.status === 'unread') {\n    unreadMessages.push(message.json);\n  }\n}\n\nconsole.log('Unread inbound messages found:', unreadMessages.length);\n\nreturn unreadMessages.map(msg => ({ json: msg }));"
      },
      "id": "test-filter",
      "name": "Test Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Found {{ $input.all().length }} unread messages"
            }
          ]
        },
        "options": {}
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Test Every 30s": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Test Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Filter": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-07T05:54:00.000Z",
  "versionId": "1"
}
