project cleanup/archive/workflows/SMSCRM_v4.105_DEBUG_FILTER.json
{
  "name": "SMSCRM v4.105 - Debug Filter",
  "nodes": [
    {
      "parameters": {
        "content": "## 🐛 Debug Filter v4.105\n\n**Purpose:**\n- ✅ Debug why filter returns no output\n- ✅ Test with message ID 150\n- ✅ Simple logging\n\n**Expected:**\nMessage ID 150 should be found and returned",
        "height": 400,
        "width": 500,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        -200
      ],
      "id": "debug-info",
      "name": "Debug Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "debug-trigger",
      "name": "Debug Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/recent?limit=50",
        "options": {}
      },
      "id": "get-messages",
      "name": "Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Debug filter for unread inbound messages\nconst messages = $input.all();\nconsole.log('=== DEBUG FILTER START ===');\nconsole.log('Total messages received:', messages.length);\n\nconst unreadMessages = [];\n\nfor (let i = 0; i < messages.length; i++) {\n  const message = messages[i];\n  console.log(`Message ${i}:`, {\n    id: message.json.id,\n    direction: message.json.direction,\n    status: message.json.status,\n    phone: message.json.phone_number\n  });\n  \n  if (message.json.direction === 'inbound' && message.json.status === 'unread') {\n    console.log('FOUND UNREAD INBOUND:', message.json.id);\n    unreadMessages.push(message.json);\n  }\n}\n\nconsole.log('Unread inbound messages found:', unreadMessages.length);\nconsole.log('=== DEBUG FILTER END ===');\n\n// Always return something, even if empty\nif (unreadMessages.length === 0) {\n  return [{ json: { debug: 'No unread messages found', total: messages.length } }];\n}\n\nreturn unreadMessages.map(msg => ({ json: msg }));"
      },
      "id": "debug-filter",
      "name": "Debug Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "result",
              "value": "Debug complete - check browser console for details"
            }
          ]
        },
        "options": {}
      },
      "id": "log-result",
      "name": "Log Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Debug Every 30s": {
      "main": [
        [
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "main": [
        [
          {
            "node": "Debug Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Filter": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-07T05:54:00.000Z",
  "versionId": "1"
}
