project cleanup/archive/workflows/SMSCRM_v3.9_GEMINI_SIMPLE.json
{
  "name": "SMSCRM v3.9 - Gemini Simple",
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 SMS AI System v3.9 - Gemini Simple\n\n**What's Fixed:**\n- ✅ Uses Gemini API directly\n- ✅ No LangChain dependency\n- ✅ Simple HTTP requests\n- ✅ Easy to configure\n\n**How it works:**\n- Polls every 30 seconds\n- Gets recent messages\n- Filters for unread inbound\n- Calls Gemini API\n- Marks as read\n- Sends reply",
        "height": 500,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1000,
        -200
      ],
      "id": "workflow-info",
      "name": "Workflow Information"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "poll-trigger",
      "name": "Poll Every 30s",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://smsn8n.marketsuite.co/api/messages/recent?limit=50",
        "options": {
          "timeout": 10000
        }
      },
      "id": "get-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter for unread inbound messages\nconst messages = $input.all();\nconst unreadMessages = [];\n\nfor (const message of messages) {\n  if (message.json.direction === 'inbound' && message.json.status === 'unread') {\n    unreadMessages.push(message.json);\n  }\n}\n\nreturn unreadMessages.map(msg => ({ json: msg }));"
      },
      "id": "filter-unread",
      "name": "Filter Unread Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "You are a helpful SMS AI assistant. Keep responses SHORT (under 160 chars). Be friendly and helpful.\n\nRespond to this SMS message: {{ $json.content }}\n\nPhone: {{ $json.phone_number }}\n\nKeep your response concise and helpful."
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-prompt",
      "name": "Prepare AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "=[{\"parts\": [{\"text\": \"{{ $json.prompt }}\"}]}]"
            },
            {
              "name": "generationConfig",
              "value": "={\"maxOutputTokens\": 150, \"temperature\": 0.7}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "call-gemini",
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract Gemini response and preserve message data\nconst geminiResponse = $input.first().json.candidates[0].content.parts[0].text;\nconst originalMessage = $('Filter Unread Messages').first().json;\n\nreturn {\n  json: {\n    message_id: originalMessage.id,\n    phone_number: originalMessage.phone_number,\n    message: geminiResponse.trim(),\n    original_message: originalMessage.content\n  }\n};"
      },
      "id": "process-response",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsn8n.marketsuite.co/api/messages/{{ $json.message_id }}/mark-read",
        "options": {
          "timeout": 5000
        }
      },
      "id": "mark-read",
      "name": "Mark Message Read",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smsn8n.marketsuite.co/api/messages/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.phone_number }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "send-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ]
    }
  ],
  "connections": {
    "Poll Every 30s": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Filter Unread Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unread Messages": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Mark Message Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Message Read": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-07T05:50:00.000Z",
  "versionId": "1"
}
