motabot-ai/workflows/tools/IMPORT_THESE_v3/Tool_Get_Customer_Transactions_v3_FIXED.json
{
  "name": "Tool: Get Customer Transactions",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [380, 400]
    },
    {
      "parameters": {
        "jsCode": "const phoneNumber = $input.item.json.phoneNumber || $input.item.json.phone_number || $input.item.json.query;\nconst limit = $input.item.json.limit || 10;\n\nreturn {\n  json: {\n    phoneNumber: phoneNumber,\n    limit: Math.min(limit, 50)\n  }\n};"
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/customers?phone=eq.{{ $json.phoneNumber }}&select=member_id,name&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"}
          ]
        },
        "options": {}
      },
      "id": "get-customer",
      "name": "Get Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/transactions?customer_id=eq.{{ $json[0].member_id }}&select=*&order=date.desc&limit={{ $('Extract Parameters').item.json.limit }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"}
          ]
        },
        "options": {}
      },
      "id": "get-transactions",
      "name": "Get Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "jsCode": "const customer = $('Get Customer').item.json[0];\nconst transactions = $input.all().map(item => item.json);\n\nconst result = {\n  customer_name: customer?.name || 'Unknown',\n  member_id: customer?.member_id || null,\n  total_transactions: transactions.length,\n  transactions: transactions.map(t => ({\n    transaction_id: t.transaction_id,\n    date: t.date,\n    location: t.shop_location,\n    staff: t.staff_name,\n    total: t.total_amount,\n    payment: t.payment_type\n  }))\n};\n\nreturn { json: { response: JSON.stringify(result) } };"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {"main": [[{"node": "Extract Parameters", "type": "main", "index": 0}]]},
    "Extract Parameters": {"main": [[{"node": "Get Customer", "type": "main", "index": 0}]]},
    "Get Customer": {"main": [[{"node": "Get Transactions", "type": "main", "index": 0}]]},
    "Get Transactions": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T00:00:00.000Z",
  "versionId": "v3-fixed-response-format"
}

