motabot-ai/workflows/tools/IMPORT_THESE_v3/Tool_Search_Products_Purchased_v3_FIXED.json
{
  "name": "Tool: Search Products Purchased",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [380, 400]
    },
    {
      "parameters": {
        "jsCode": "const phoneNumber = $input.item.json.phoneNumber || $input.item.json.phone_number || $input.item.json.query;\nconst searchTerm = $input.item.json.searchTerm || $input.item.json.search_term || '';\n\nreturn {\n  json: {\n    phoneNumber: phoneNumber,\n    searchTerm: searchTerm\n  }\n};"
      },
      "id": "extract-params",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/customers?phone=eq.{{ $json.phoneNumber }}&select=member_id&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"}
          ]
        },
        "options": {}
      },
      "id": "get-customer",
      "name": "Get Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 400]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/transactions?customer_id=eq.{{ $json[0].member_id }}&select=transaction_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"}
          ]
        },
        "options": {}
      },
      "id": "get-transactions",
      "name": "Get Transactions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 400]
    },
    {
      "parameters": {
        "jsCode": "const transactions = $input.all().map(item => item.json);\nconst txnIds = transactions.map(t => t.transaction_id).join(',');\n\nreturn { json: { txnIds: txnIds } };"
      },
      "id": "build-ids",
      "name": "Build Transaction IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 400]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/transaction_items?transaction_id=in.({{ $json.txnIds }})&select=product_name,quantity,price",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"},
            {"name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtpd213b3FyZ3V5cmNwanl0Z3RlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk4NDUwNTEsImV4cCI6MjA3NTQyMTA1MX0.3YhobdFv0ZV6PzExcr88l-zNN3vZeEsM_Du9kVEmdV0"}
          ]
        },
        "options": {}
      },
      "id": "get-items",
      "name": "Get Transaction Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 400]
    },
    {
      "parameters": {
        "jsCode": "const searchTerm = $('Extract Parameters').item.json.searchTerm;\nlet items = $input.all().map(item => item.json);\n\nif (searchTerm) {\n  const search = searchTerm.toLowerCase();\n  items = items.filter(i => \n    (i.product_name || '').toLowerCase().includes(search)\n  );\n}\n\nconst productMap = {};\nfor (const item of items) {\n  const name = item.product_name || 'Unknown';\n  if (!productMap[name]) {\n    productMap[name] = {\n      product_name: name,\n      times_purchased: 0,\n      total_quantity: 0,\n      total_spent: 0\n    };\n  }\n  productMap[name].times_purchased += 1;\n  productMap[name].total_quantity += item.quantity || 1;\n  productMap[name].total_spent += parseFloat(item.price || 0);\n}\n\nconst products = Object.values(productMap).sort((a, b) => b.times_purchased - a.times_purchased);\n\nconst result = {\n  total_unique_products: products.length,\n  products: products.slice(0, 20)\n};\n\nreturn { json: { response: JSON.stringify(result) } };"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {"main": [[{"node": "Extract Parameters", "type": "main", "index": 0}]]},
    "Extract Parameters": {"main": [[{"node": "Get Customer", "type": "main", "index": 0}]]},
    "Get Customer": {"main": [[{"node": "Get Transactions", "type": "main", "index": 0}]]},
    "Get Transactions": {"main": [[{"node": "Build Transaction IDs", "type": "main", "index": 0}]]},
    "Build Transaction IDs": {"main": [[{"node": "Get Transaction Items", "type": "main", "index": 0}]]},
    "Get Transaction Items": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-13T00:00:00.000Z",
  "versionId": "v3-fixed-response-format"
}

