motabot-ai/workflows/Mota systems/IC/ICv2.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}\n\n🔢 PHONE: {{ $json.phone }}\n\n👤 CUSTOMER DATA (ALREADY FETCHED):\n{{ $json.ai_context }}\n\nIMPORTANT: Use the customer data above to respond personally!",
        "options": {
          "systemMessage": "You are Luis, the friendly manager at Mota dispensary.\n\nCustomer data is ALREADY FETCHED. Use the top_brands, top_categories, and top_products from their ACTUAL PURCHASE HISTORY.\n\nNEVER reference products they didn't buy. Reference ONLY what's in top_brands/top_categories/top_products.\n\nKeep responses under 150 characters (SMS limit). NO emojis."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [368, 368],
      "id": "8bbf8051-52d6-493a-a7bf-e12869ce0244",
      "name": "MotaBot AI"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [272, 528],
      "id": "136a98b2-05d6-4aae-99c0-cbe725c881de",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "daclOezIY0qSdW4Z",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.phone_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [992, 480],
      "id": "7674976f-3489-4b00-9a75-8b1cf6d942e0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-640, 96],
      "id": "7fadc452-7200-4736-89a2-97d39493b4c1",
      "name": "When chat message received",
      "webhookId": "c4ae2e47-48ce-4d28-b164-9e9d419a11bf"
    },
    {
      "parameters": {
        "jsCode": "const phoneNumber = '+13233782762';\nconst testMessage = $input.item.json.message || $input.item.json.chatInput || $input.item.json.incoming_message || $input.item.json.text || 'Hello, what are my points?';\nconst passthrough = $input.item.json.customer_summary || null;\nreturn { json: { message: testMessage, phone_number: phoneNumber, incoming_message: testMessage, message_id: 'test_' + Date.now(), timestamp: new Date().toISOString(), customer_summary: passthrough } };"
      },
      "id": "9f0653f4-5e2c-4207-9c9d-ae15d9d0a407",
      "name": "Manual Phone Number Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-400, 96]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/customers?phone=eq.{{ encodeURIComponent($json.phone_number) }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": { "splitIntoItems": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-176, 96],
      "id": "3d9892fa-9b9b-4550-b48f-42d09eef94a2",
      "name": "Get Customer by Phone HTTP",
      "credentials": { "supabaseApi": { "id": "hwJ1to3Ot0D92Bo5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/transactions?customer_id=eq.{{ $json.member_id || $json.id || $json.customer_id }}&select=transaction_id,date,total_amount,shop_location,staff_name,payment_type&order=date.desc",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": { "splitIntoItems": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [16, 160],
      "id": "a6f0f0f0-1111-4a11-8b1a-000000000001",
      "name": "Get Transactions by Customer HTTP",
      "credentials": { "supabaseApi": { "id": "hwJ1to3Ot0D92Bo5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "jsCode": "const tx = $items('Get Transactions by Customer HTTP', 0, 0);\nconst list = Array.isArray(tx) ? tx : [tx];\nconst rows = list.map(i => i.json).filter(Boolean);\nconst ids = rows.map(r => r.transaction_id).filter(Boolean);\nreturn { json: { txn_ids: ids, txn_ids_csv: ids.length ? '(' + ids.map(id => '\"' + id + '\"').join(',') + ')' : '()' } };"
      },
      "id": "b7f0f0f0-2222-4b22-8b2a-000000000002",
      "name": "Prepare Txn IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 160]
    },
    {
      "parameters": {
        "url": "=https://kiwmwoqrguyrcpjytgte.supabase.co/rest/v1/transaction_items?select=transaction_id,product_name,brand,category,quantity,unit_price&transaction_id=in.{{ $('Prepare Txn IDs').item.json.txn_ids_csv }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": { "splitIntoItems": true }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [368, 160],
      "id": "c8f0f0f0-3333-4c33-8c3a-000000000003",
      "name": "Get Transaction Items HTTP",
      "credentials": { "supabaseApi": { "id": "hwJ1to3Ot0D92Bo5", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "jsCode": "const arr = $items('Get Transaction Items HTTP', 0, 0);\nconst items = (Array.isArray(arr) ? arr : [arr]).map(i => i.json).filter(Boolean);\nconst countBy = (key) => items.reduce((m, r) => { const k = (r[key] || '').toString().trim(); if(!k) return m; m[k] = (m[k]||0)+1; return m; }, {});\nconst topN = (map, n=3) => Object.entries(map).sort((a,b)=>b[1]-a[1]).slice(0,n).map(([k,v])=>({name:k,count:v}));\nconst topBrands = topN(countBy('brand'), 5);\nconst topCategories = topN(countBy('category'), 5);\nconst topProducts = topN(countBy('product_name'), 10);\nreturn { json: { transactions_items: items, top_brands: topBrands, top_categories: topCategories, top_products: topProducts, transactions_count: items.length } };"
      },
      "id": "d9f0f0f0-4444-4d44-8d4a-000000000004",
      "name": "Summarize Preferences",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, 160]
    },
    {
      "parameters": {
        "jsCode": "let base = {};\ntry {\n  const items = $items('Manual Phone Number Input', 0, 0);\n  const first = Array.isArray(items) ? items[0] : items;\n  base = first?.json || {};\n} catch (e) { base = {}; }\nconst incoming = base.message || base.chatInput || base.incoming_message || base.text || '';\nconst merged = { ...($input.item?.json || {}), ...base };\nreturn { json: { ...merged, chatInput: incoming } };"
      },
      "id": "745eb7ab-75eb-4817-926e-146ce1f64638",
      "name": "Normalize Chat Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, 96],
      "settings": { "runOnceForAllItems": false }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item?.json || {};\nlet cust = {};\ntry { const custItems = $items('Get Customer by Phone HTTP', 0, 0); const first = Array.isArray(custItems) ? custItems[0] : custItems; cust = first?.json || {}; } catch (e) { cust = {}; }\nlet pref = msg.customer_summary || {};\nif (!msg.customer_summary) { try { const prefItems = $items('Summarize Preferences', 0, 0); const p = Array.isArray(prefItems) ? prefItems[0] : prefItems; pref = p?.json || {}; } catch (e) { pref = {}; } }\nconst splitName = (name) => { const parts = String(name || '').trim().split(/\\s+/); return { first: parts[0] || '', last: parts.slice(1).join(' ') || '' }; };\nconst derived = splitName(cust.name);\nconst first = cust.first_name || cust.first || derived.first;\nconst last = cust.last_name || cust.last || derived.last;\nconst fullName = (cust.name || [first, last].filter(Boolean).join(' ').trim()).trim();\nconst summary = { loyalty_points: cust.loyalty_points ?? null, total_visits: Number(cust.total_visits) || 0, last_visited: cust.last_visited || null, lifetime_value: Number(cust.lifetime_value) || 0 };\nconst listStr = (arr) => (Array.isArray(arr) ? arr.map(x=>x.name || x).filter(Boolean).slice(0,3).join(', ') : '');\nconst brands = listStr(pref.top_brands);\nconst cats = listStr(pref.top_categories);\nconst prods = listStr(pref.top_products);\nconst aiContext = [fullName ? 'Customer: ' + fullName : null, (msg.phone_number || cust.phone) ? 'Phone: ' + (msg.phone_number || cust.phone) : null, summary.total_visits ? 'Visits: ' + summary.total_visits : null, summary.loyalty_points != null ? 'Points: ' + summary.loyalty_points : null, summary.last_visited ? 'Last visited: ' + summary.last_visited : null, brands ? 'Top brands: ' + brands : null, cats ? 'Top categories: ' + cats : null, prods ? 'Top products: ' + prods : null].filter(Boolean).join(' | ');\nreturn { json: { message: msg.incoming_message || msg.chatInput || '', phone: msg.phone_number || cust.phone || '', message_id: msg.message_id, timestamp: msg.timestamp, custid: cust.member_id || cust.id || cust.customer_id || '', name: fullName, first, last, email: cust.email || '', loyalty_points: summary.loyalty_points, total_visits: summary.total_visits, last_visited: summary.last_visited, lifetime_value: summary.lifetime_value, transactions_count: Number(pref.transactions_count) || 0, top_brands: pref.top_brands || [], top_categories: pref.top_categories || [], top_products: pref.top_products || [], revenue_by_brand: pref.revenue_by_brand || {}, ai_context: aiContext, customer_raw: cust, customer_found: !!Object.keys(cust).length, ic_viewer_summary: !!msg.customer_summary } };"
      },
      "id": "d48711f9-ea0a-4296-8131-53288816803c",
      "name": "Format For AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 432],
      "notesInFlow": true,
      "settings": { "runOnceForAllItems": false }
    }
  ],
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [[{ "node": "MotaBot AI", "type": "ai_languageModel", "index": 0 }]]
    },
    "When chat message received": {
      "main": [[{ "node": "Manual Phone Number Input", "type": "main", "index": 0 }]]
    },
    "Manual Phone Number Input": {
      "main": [[{ "node": "Get Customer by Phone HTTP", "type": "main", "index": 0 }]]
    },
    "Get Customer by Phone HTTP": {
      "main": [[{ "node": "Get Transactions by Customer HTTP", "type": "main", "index": 0 }]]
    },
    "Get Transactions by Customer HTTP": {
      "main": [[{ "node": "Prepare Txn IDs", "type": "main", "index": 0 }]]
    },
    "Prepare Txn IDs": {
      "main": [[{ "node": "Get Transaction Items HTTP", "type": "main", "index": 0 }]]
    },
    "Get Transaction Items HTTP": {
      "main": [[{ "node": "Summarize Preferences", "type": "main", "index": 0 }]]
    },
    "Summarize Preferences": {
      "main": [[{ "node": "Normalize Chat Input", "type": "main", "index": 0 }]],
      "ai_tool": [[{ "node": "MotaBot AI", "type": "ai_tool", "index": 0 }]]
    },
    "Normalize Chat Input": {
      "main": [[{ "node": "Format For AI", "type": "main", "index": 0 }]]
    },
    "Format For AI": {
      "main": [[{ "node": "MotaBot AI", "type": "main", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "MotaBot AI", "type": "ai_memory", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "daf1db1234fdfcbbfb53be5e1fe26764ab505fd0554977269bee03ef4bae6464"
  }
}
